
<div class="container">
    <!--

   
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
                <img src="img/logo-menu.png">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">    
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-4 item-menu" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="#">Planos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sustentabilidade</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-4 col-sm-4 col-xs-4">
                    <div class="text-center">Login</div>
                    <div>
                        <button class="btn btn-menu">Paciente</button>
                            <button class="btn btn-menu">Médico</button>
                    </div>
                </div>
            </div>
        </nav>   
    </header>
     -->

    <section class="container1 col-12">
        <div class="banner col-12"></div>
        <h1>Programa descarte consciente</h1>
        <br>
        <div class="sobre col-12">
            <p>Estima-se que, para cada quilo de medicamento descartado no lixo comum ou na fossa sanitária, cerca de 450 mil litros de água são contaminados. Compreendendo a dimensão desse impacto ambiental, o Grupo RD buscou uma solução para a correta destinação de medicamentos vencidos ou em desuso e disponibiliza diversos pontos de coleta de medicamentos em suas lojas. </p>
            <p>Utilize o localizador abaixo e encontre o ponto de coleta mais próximo.</p>
        </div>
        <br>

        <!-- busca localidade -->
        <h2 class="tituloSelecao">Selecione a localidade</h2>
        <br>
        <div class="buscaLocal">
            <form class="col-12">
                <div class="form-row align-items-center">
                  <div class="col-md-6 my-1">
                    <input type="text" class="form-control" id="localBusca" placeholder="Busque por cep, rua ou bairro">
                  </div>
                  <div class="btnBusca">
                    <button type="submit" class="btn btn-primary btn-verLocal">Buscar</button>
                  </div>
                </div>
            </form>            
        </div>  
        
        <!-- cards com endereços encontrados -->
        <div class="cardsEndereco col-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title-drogasil">PENHA</h5>
                  <p class="card-text-funcionamento">Todos os dias 00:01 às 23:59</p>
                  <p class="card-text">Penha de França, 429</p>
                  <p class="card-text">(11) 2091-8803/2941-9668</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title-drogaraia">PENHA</h5>
                  <p class="card-text-funcionamento">Todos os dias 07:00 às 23:00</p>
                  <p class="card-text">Penha de França, 429</p>
                  <p class="card-text">(11) 2647-7749/97381-4323</p>

                </div>
            </div>
        </div>
    </section>
   
</div>