<!-- trilha 6 -->
<div class="rowtrilha d-flex flex-wrap justify-content-center">
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">1</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/agendamento-consultas'>
        <div class="trilha">Consulta</div>
        <div class="opcao">{{dsConsulta}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">2</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/agendamento-consultas'>
        <div class="trilha ">Especialidade</div>
        <div class="opcao ">{{dsEspecialidade}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">3</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/calendario-agendamento'>
        <div class="trilha ">Data</div>
        <div class="opcao">{{data}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">4</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/escolha-especialista'>
        <div class="trilha">Especialista</div>
        <div class="opcao">{{nmMedico}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">5</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/escolha-especialista'>
        <div class="trilha">Horário</div>
        <div class="opcao">{{horario}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinha-cheia">6</div>
      <div class="linha linha-ativa"></div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <a routerLink='/pagamento-plano'>
        <div class="trilha">Valor da Consulta</div>
        <div class="opcao">R$ {{vlComDesconto}}</div>
      </a>
    </div>
  </div>
  <div class="cada-item d-flex flex-column">
    <div class="bola-linha d-flex">
      <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
    </div>
    <div class="texto-trilha d-flex flex-column">
      <div class="trilha">Confirmação</div>
      <div class="opcao-vazia">vazio</div>
    </div>
  </div>
</div>
<!--fim trilha 6 -->


<section class="container d-flex flex-column alig-items-center">
  <div *ngIf="consultaNaoConfirmada" class="confirmacao-baixo d-flex justify-content-center">
  <div class="card border-success mb-3 text-center">
    
    <div class="card-header bg-transparent border-success">
      <div class="card-body text-success">
        <h5 class="card-title">CONFIRMAÇÃO DE CONSULTA</h5>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Verifique se as informações estão corretas e confirme sua consulta.</h5>
      <p class="card-text"> Data: {{data}} as {{horario}}hs</p>
      <p class="card-text">Especialidade: {{dsEspecialidade}}</p>
      <p class="card-text">Especialista: {{nmMedico}}</p>
      <p class="card-text">Tipo de consulta: {{dsConsulta}}</p>
      <p class="card-text">Valor com desconto: R$ {{vlComDesconto}}</p>
      <div class="card-footer text-muted bg-transparent border-success">
        <button type="button" class="btn-confirm clicavel" (click)="mudarFlagConfirmacao()">Confirmar
          consulta</button>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="consultaConfirmada" class="confirmacao-baixo d-flex justify-content-center">
    <div class="card border-success mb-3 text-center">
      <h5 class="card-header bg-transparent border-success text-success">CONSULTA CONFIRMADA</h5>
      <div class="card-body">
        <h5 class="card-title">Sua consulta foi confirmada com sucesso</h5>
        <p class="card-text">Gostaria de receber o lembrete da consulta?</p>
        <button type="button" class="btn-outline-primary" (click)="open(contentEmail)" data-toggle="modal"
          data-target="#emailModal">E-mail</button>
        <button type="button" class="btn-outline-primary" (click)="open(contentWhatsapp)" data-toggle="modal"
          data-target="#whatsModal">WhatsApp</button>
      </div>
      <a routerLink='/minhas-consultas'><button type="button" class="btn-confirm clicavel">Minhas consultas</button></a>
    </div>
  </div>

 

  <!-- Modal e-mail -->
  <ng-template #contentEmail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Lembrete de Consulta</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Você receberá o lembrete da consulta no email cadastrado</p>
    </div>
    <div class="modal-footer">
      <!-- <a routerLink='/minhas-consultas'><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ver Minhas Consultas</button></a> -->
    </div>
  </ng-template>


  <!-- Modal whats -->
  <ng-template #contentWhatsapp let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Lembrete de Consulta</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Você receberá o lembrete da consulta no WhatsApp cadastrado</p>
    </div>
    <div class="modal-footer">
      <!-- <a routerLink='/minhas-consultas'><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ver Minhas Consultas</button></a> -->
    </div>
  </ng-template>

  <!-- Modal confirmacao consulta -->
  <ng-template #contentConfirmacaoConsulta let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Consulta agendada com sucesso</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Consulta agendada com sucesso.</p>
    </div>
    <div class="modal-footer">
      <a routerLink='/minhas-consultas'><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ver
          Minhas Consultas</button></a>
    </div>
  </ng-template>
</section>



<app-footer></app-footer>