
        <!-- trilha 6 -->
        <div class="rowtrilha d-flex flex-wrap justify-content-center">
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">1</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/agendamento-consultas'>
                    <div class="trilha">Consulta</div>
                    <div class="opcao">{{dsConsulta}}</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">2</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/agendamento-consultas'>
                    <div class="trilha ">Especialidade</div>
                    <div class="opcao ">{{dsEspecialidade}}</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">3</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/calendario-agendamento'>
                    <div class="trilha ">Data</div>
                    <div class="opcao">23/10/2017</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">4</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/escolha-especialista'>
                    <div class="trilha">Especialista</div>
                    <div class="opcao">{{nmMedico}}</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">5</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/escolha-especialista'>
                    <div class="trilha">Horário</div>
                    <div class="opcao">{{horario}}</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinha-cheia">6</div>
                    <div class="linha linha-ativa"></div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                  <a routerLink='/pagamento-plano'>
                    <div class="trilha">Pagamento</div>
                    <div class="opcao">{{tipoPagamento}}</div>
                  </a>
                </div>
            </div>
            <div class="cada-item d-flex flex-column">
                <div class="bola-linha d-flex">
                    <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
                </div>
                <div class="texto-trilha d-flex flex-column">
                    <div class="trilha">Confirmação</div>
                    <div class="opcao-vazia">vazio</div>
                </div>
            </div>
        </div>
        <!--fim trilha 6 -->

        <section class="container d-flex flex-column alig-items-center">
            <div class="confirmacao-cima d-flex justify-content-center">
                <div class="texto-confirmacao-esquerda">
                    <p class="titulo-confirmacao">CONFIRMAÇÃO CONSULTA</p>
                    <p class="texto-detalhes">Confira se as informações estão corretas e confirme o agendamento</p>
                </div>
                <div class="d-flex justify-content-end">
                    <img id="img-lembrete" src="/assets/assets-grupo2/calendar.png"/>
                </div>
            </div>
            <div class="confirmacao-meio">
                <p>Tipo de consulta: {{consulta}}</p>
                <p>Especialista: {{nmMedico}}</p>
                <p>Especialidade: {{dsEspecialidade}}</p>
                <p>Data: 23/10/2017 14:00</p>
                <p>Pagamento: Plano Premium</p>
                <button type="button" class="btn-confirm clicavel">Agendar</button>
                <p class="texto-lembrete">Quero receber o lembrete da minha consulta via:</p>
            </div>
            <div class="confirmacao-baixo d-flex justify-content-center">
                <button type="button" (click)="open(contentEmail)" class="btn-confirm" data-toggle="modal" data-target="#emailModal">E-mail</button>
                <button type="button" (click)="open(contentWhatsapp)" class="btn-confirm" data-toggle="modal" data-target="#whatsModal">WhatsApp</button>
            </div>

            <!-- Modal e-mail -->
            <ng-template #contentEmail let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Lembrete de Consulta</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Você receberá o lembrete da consulta no email cadastrado maria@gmail.com</p>
              </div>
              <div class="modal-footer">
                <a routerLink='/minhas-consultas'><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ver Minhas Consultas</button></a>
              </div>
            </ng-template>


            <!-- Modal whats -->
            <ng-template #contentWhatsapp let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Lembrete de Consulta</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Você receberá o lembrete da consulta no WhatsApp cadastrado no número (11) 99999-9999</p>
              </div>
              <div class="modal-footer">
                <a routerLink='/minhas-consultas'><button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ver Minhas Consultas</button></a>
              </div>
            </ng-template>

        </section>

        

        <app-footer></app-footer>