<!-- Início Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <img src="assets/img-grupo4/banner-2.jpg" class="banner" alt="">
            <img src="assets/img-grupo4/logo-branco.png" class="logo" alt="">
        </div>
    </div>
</header>
<!-- Fim Header -->

<!-- Início Conteúdo Principal -->
<div class="container">
    <a routerLink='/dashboard/medico' class="img-sair">
        <img src="assets/img-grupo4/baseline_exit_to_app_black_18dp.png" class="btn-sair" alt="">
    </a>

    <div class="row justify-content-center">

        <!-- Início Calendário -->
        <div class="col-12 col-md-6">
            <div>
                <h1 class="text-center title-calendario">Calendário</h1>
                <div class="calendario">
                    <button type="button" class="btn btn-danger">HOJE</button>
                </div>
            </div>
            <!-- Modal Abrir Agenda -->
            <ng-template #abrir let-c="close" let-d="dismiss">
                <div class="modal-content modal-abrir-agenda">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-basic-title">Selecione o(s) horário(s) e o tipo de consulta</h2>
                        <button type="button" class="close" aria-label="Close" (click)="c('Save click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body modal-horarios">
                          <div class="manha">
                              <h3 class="title-horario">Manhã: </h3>
                              <button type="button" class="btn btn-outline-success button-hora">07:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">08:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">09:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">10:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">11:00</button>
                          </div>
                          <div class="tarde">
                              <h3 class="title-horario">Tarde: </h3>
                              <button type="button" class="btn btn-outline-success button-hora">12:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">13:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">14:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">15:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">16:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">17:00</button>
                          </div>
                          <div class="noite">
                              <h3 class="title-horario">Noite: </h3>
                              <button type="button" class="btn btn-outline-success button-hora">18:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">19:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">20:00</button>
                              <button type="button" class="btn btn-outline-success button-hora">21:00</button>
                          </div>
                          <div class="radio-tipo-consulta">
                              <h3 class="title-tipo-consulta">Tipo de consulta: </h3>
                          <div class="form-check form-check-inline-online">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                  value="option1">
                              <label class="form-check-label" for="inlineRadio1">Online</label>
                          </div>
                          <div class="form-check form-check-inline-presencial">
                              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                  value="option2">
                              <label class="form-check-label" for="inlineRadio2">Presencial</label>
                          </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn button-limpar" (click)="c('Save click')">Limpar seleção</button>
                        <button type="button" class="btn button-salvar" (click)="c('Save click')">Salvar</button>
                    </div>
                </div>
              </ng-template>
              <!-- Fim Modal Abrir Agenda -->

              <div class="buttons-calendario">
                <button class="btn btn-abrir-agenda" (click)="open(abrir)">Abrir Agenda</button>
                <button type="button" class="btn btn-consultar-agenda" data-toggle="modal"
                    data-target="#modalConsultarAgenda">
                    Consultar Agenda
                </button>
              </div>
            
        </div>
        
        <!-- Fim Calendário -->

        <!-- Início Agenda do Dia -->
        <div class="col-12 col-md-6">
            <h1 class="text-center">{{data|date:"dd/MM/yyyy"}}</h1>
            <table class="table">
                <tbody>
                    <tr *ngFor="let agendamento of agendamentosResposta">
                        <td>{{agendamento.agenda.periodo.horaInicial}}</td>
                        <td>{{agendamento.paciente.nmNome}}</td>
                        <td>
                            {{agendamento.agenda.tipoConsulta.dsTipoConsulta}}
                        </td>
                        <td class="confirmado">
                            {{agendamento.statusConsulta.dsStatusConsulta}}
                        </td>
                        <td>
                            <button type="button" class="btn-cancelar"
                            (click)="remover(agendamento.idAgPaciente)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Início Modal Cancelar Consulta-->
        <!-- <ng-template #cancelar let-c="close" let-d="dismiss">
            <div class="modal-content" id="modal-cancelar">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Atenção!</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body modal-cancelar-msg">
                    <p>Deseja realmente cancelar a consulta?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-verde" (click)="remover(agendamento.idAgPaciente)">Sim</button>
                  </div>
            </div>
        </ng-template> -->
        <!-- Fim Modal Cancelar Consulta-->

        <!-- Fim Agenda do Dia -->
    </div>
</div>
<!-- Fim Conteúdo Principal -->

<!-- Início Footer -->
<footer class="mt-4">
    <div class="row">
        <div class="col-md-6"><img src="assets/img-grupo4/logo-footer.png"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h4>SOCIAL MIDIA</h4>
            <ul class="nav flex-column rodape">
                <li class="nav-item"><img src="assets/img-grupo4/logo-facebook.png"><a class="nav-link"
                        href="#">Facebook</a></li>
                <li class="nav-item"><img src="assets/img-grupo4/logo-linkedin.png"><a class="nav-link"
                        href="#">Linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Fim Footer -->