<div class="container">
    <section>
        <div class="banner"></div>
        
        <div>
            <h3 class = "titulo">SOPA DE TOMATE</h3>
            <h4 class = "subtitulo">Em Sopas:</h4>
        </div>
        
        <div class = "container_receita">
                <div class="row">
    
                    <div class="col-12 col-md-6 col-lg-6">
                    <div class="card bg-light mb-3">
                     <img scr="/assets/img-grupo3/tomate.jpg">
                    </div>
                    </div>
                  
    
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card bg-light mb-3">
                    <div class = "ingredientes">
                    <h6 id = "ingredientes">Ingredientes</h6> 
                    <h6 class = "texto"><ul type="none">
                        <li>5 tomates grandes cubinhos (sem pele e sementes)</li>
                        <li>1 cebola média picada</li>
                        <li>2 dentes de alhos picados</li>
                        <li>2 colheres de sopa de azeite</li>
                        <li>1 tablete de caldo de carne ou o que preferir</li>
                        <li>1 1/2 litros de água fervente</li>     
                    </ul>
                    </h6>
                    </div>

                    <div class = "preparo">
                    <h6 id = "preparo">Modo de Preparo</h6> 
                    <h6 class = "texto"><ol>
                        <li>Em uma panela, coloque o azeite, e refoque o alho e a cebola.</li>
                        <li>Após feito isso coloque os tomates por uns 5 minutos ou até virar um "molho".</li>
                        <li>Coloque o tablete de carne, a água e os temperos.</li>
                        <li>Sirva quente com parmesão ralado e orégano por cima.</li>  
                    </ol>
                    </h6>
                </div>
             </div>
            </div>


        </div>
    </div>
    
    </section>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>