
<header class="container-fluid">
    <div class="row">
        <img src="assets/img-grupo4/banner-2.jpg" class="banner" alt="">
        <img src="assets/img-grupo4/logo-branco.png" class="logo" alt="">
    </div>
</header>

<section class="container">
    <div class="page-title">
        <h1>Nova Conta</h1>
    </div>
    <form #formCadastro="ngForm" class="form-group" >
        <div class="page-title">
            <h3>Dados Pessoais</h3>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-3">
                <label class="label-form" for="especialidade">Especialidade</label>
                <select class="form-control style-input" id="especialidade" name="espMed" [(ngModel)]="request.espMed.idEspMed" #espMed="ngModel" placeholder="selecione" required>
                    <option *ngFor="let esp of dadosResposta.especialidades" [value]="esp.idEspMed" >{{esp.dsEspMed}}</option>
                </select>
                <div *ngIf="espMed.invalid && espMed.touched" class="alert alert-danger" role="alert">
                    Selecione uma especialidade.
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label for="crm" class="label-form">CRM</label>
                <input type="text" class="form-control style-input" id="nrCrm" name="nrCrm" [(ngModel)]="request.nrCrm" #nrCrm="ngModel" placeholder="0000000" maxlength="5" required>
                <div *ngIf="nrCrm.invalid && nrCrm.touched" class="alert alert-danger" role="alert">
                    Campo obrigatório.
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label class="label-form" for="uf-crm">UF</label>
                <select class="form-control style-input" id="uf-crm" name="idUf" [(ngModel)]="request.uf.idUf" #idUf="ngModel" required>
                    <option *ngFor="let uf of dadosResposta.ufs" [value]="uf.idUf">{{uf.dsUf}}</option>
                </select>
                <div *ngIf="idUf.invalid && idUf.touched" class="alert alert-danger" role="alert">
                    Selecione um estado.
                </div>
            </div> 
            <div class="form-group col-12 col-md-2">
                <label for="valor" class="label-form">Valor da consulta</label>
                <input type="number" class="form-control style-input" id="valor" name="preco" [(ngModel)]="request.preco.vlConsulta" #preco="ngModel" placeholder="R$000,00" required>
                <div *ngIf="preco.invalid && preco.touched" class="alert alert-danger" role="alert">
                    Campo obrigatório.
                </div>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="telefone-medico" class="label-form">Telefone</label>
                <input type="text" class="form-control style-input" id="telefone-medico" name="dsContato" [(ngModel)]="request.contatos[0].dsContato" #dsContato="ngModel" placeholder="DDD + telefone" minlength="9" maxlength="14" mask="(00)0000-0000 || (00)00000-0000" required>
                <div *ngIf="dsContato.invalid && dsContato.touched" class="alert alert-danger" role="alert">
                    Campo obrigatório.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-7">
                <label for="name-medico" class="label-form">Dr(a). Nome do Médico(a) </label>
                <input type="text" class="form-control style-input" id="name-medico" name="nome" [(ngModel)]="request.nome" #nome="ngModel" placeholder="Ex.: Maria Helena da Silva" required>
                <div *ngIf="nome.invalid && nome.touched" class="alert alert-danger" role="alert">
                    Campo obrigatório.
                </div>
            </div>
            <div class="form-group col-12 col-md-3">
                <label class="label-form" for="cpf">CPF</label>
                <input type="text" class="form-control style-input" id="cpf"  name="nrCpf" [(ngModel)]="request.nrCpf" #nrCpf="ngModel" placeholder="000.000.000-00" minlength="11" maxlength="14" mask="000.000.000-00" required >
                <div *ngIf="nrCpf.invalid && nrCpf.touched" class="alert alert-danger" role="alert">
                    <div [hidden]="!nrCpf.errors.required">
                        Campo origatório.
                    </div>
                    <div [hidden]="!nrCpf.errors.minlength">
                        CPF deve conter 11 caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label for="data-consulta" class="label-form">Data de Nascimento</label>
                <input type="date" class="form-control style-input" id="data-consulta" name="dtNascimento" [(ngModel)]="request.dtNascimento" #dtNascimento="ngModel" placeholder="dd/mm/aaaa" required>
                <div *ngIf="dtNascimento.invalid && dtNascimento.touched" class="alert alert-danger" role="alert">
                    Campo obrigatório.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-2">
                <label class="label-form" for="cep">CEP</label>
                <input type="text" class="form-control style-input" id="cep" name="nrCep" [(ngModel)]="request.enderecos[0].nrCep" #nrCep="ngModel" placeholder="00000-000" minlength="8" maxlength="9" mask="00000-000" required >
                <div *ngIf="nrCep.invalid && nrCep.touched" class="alert alert-danger" role="alert">
                    <div [hidden]="!nrCep.errors.required">
                        Campo obrigatório.
                    </div>
                    <div [hidden]="!nrCep.errors.minlength">
                        Cep deve conter 8 caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="endereco-medico" class="label-form">Endereço Comercial</label>
                <input type="text" class="form-control style-input" id="endereco-medico" name="dsEndereco" [(ngModel)]="request.enderecos[0].dsEndereco" #dsEndereco="ngModel" placeholder="Ex.: Rua Joaquina 1234" required>
                <div *ngIf="dsEndereco.invalid && dsEndereco.touched" class="alert alert-danger" role="alert">
                    campo obrigatório.
                </div>
            </div>
            <div class="form-group col-12 col-md-3">
                <label for="Bairro" class="label-form">Bairro</label>
                <input type="text" class="form-control style-input" id="bairro" name="dsBairro" [(ngModel)]="request.enderecos[0].dsBairro" #dsBairro="ngModel" placeholder="Ex.:Jd.Mairi" required>
                <div *ngIf="dsBairro.invalid && dsBairro.touched" class="alert alert-danger" role="alert">
                    campo obrigatório.
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label class="label-form" for="uf">UF</label>
                <select class="form-control style-input" id="uf" name="idUf" [(ngModel)]="request.enderecos[0].cidade.uf.idUf" #idUf="ngModel" required>
                    <option *ngFor="let uf of dadosResposta.ufs" [value]="uf.idUf">{{uf.dsUf}}</option>
                </select>
                <div *ngIf="idUf.invalid && idUf.touched" class="alert alert-danger" role="alert">
                    selecione um estado.
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label class="label-form" for="cidade">Cidade</label>
                <select class="form-control style-input" id="cidade" name="idCidade" [(ngModel)]="request.enderecos[0].cidade.idCidade" #idCidade="ngModel" required>
                    <option *ngFor="let cidade of dadosResposta.cidades"[value]="cidade.idCidade">{{cidade.dsCidade}}</option>
                </select>
                <div *ngIf="idCidade.invalid && idCidade.touched" class="alert alert-danger" role="alert">
                    selecione uma cidade.
                </div>
            </div> 
        </div>
        <hr>
        <div class="page-title">
            <h3>Dados de Acesso</h3>
        </div>
        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label class="label-form" for="email">E-mail</label>
                <input type="email" class="form-control style-input" id="email" name="dsEmail" [(ngModel)]= "request.login.dsEmail" #dsEmail="ngModel" placeholder="exemplo@exemplo.com.br" email required >
                <div *ngIf="dsEmail.invalid && dsEmail.touched" class="alert alert-danger" role="alert">
                    campo obrigatório.
                </div>
                <br>
                <div class="row"> 
                    <div class="col-12 col-md-6">
                        <label class="label-form" for="senha">Senha</label>
                        <input type="password" class="form-control style-input" id="senha" name="dsSenha" [(ngModel)]= "request.login.dsSenha" #dsSenha="ngModel" placeholder="Digite uma senha" minlength="8" required>
                        <div *ngIf="dsSenha.invalid && dsSenha.touched" class="alert alert-danger" role="alert">
                            <div [hidden]="!dsSenha.errors.required">
                                campo obrigatório.
                            </div>
                            <div [hidden]="!dsSenha.errors.minlength">
                                senha deve conter pelo menos 8 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label class="label-form" for="cadastro-senha2">Confirmar Senha</label>
                        <input type="password" class="form-control" id="cadastro-senha2" placeholder="Digite a senha" name="senhaConfirmacao" #senhaConfirmacao="ngModel" [(ngModel)]="confirmacao.senhaConfirmacao" minlength="8" required>
                        <div *ngIf="senhaConfirmacao.value != dsSenha.value && (senhaConfirmacao.dirty || senhaConfirmacao.touched)"
                            class="alert alert-light mt-1" role="alert">
                            senha informada não confere!
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center form-group col-12 col-md-6">
                <p>Você pode alterar suas escolhas a qualquer momento nas suas configurações de conta.</p>
                    <button type="button" class="btn btn-verde mr-5" value="Cadastro" (click)="registrar()" [disabled]="formCadastro.invalid">Cadastrar</button>
            </div>
        </div>
    </form>
</section>

<footer class="mt-4">
    <div class="row">
        <div class="col-md-6"><img src="assets/img-grupo4/logo-footer.png"></div>
            <div class="col-md-2"></div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4>SOCIAL MIDIA</h4>   
                <ul class="nav flex-column rodape">
                    <li class="nav-item"><img src="assets/img-grupo4/logo-facebook.png"><a class="nav-link" href="#">Facebook</a></li>
                    <li class="nav-item"><img src="assets/img-grupo4/logo-linkedin.png"><a class="nav-link" href="#">Linkedin</a></li>
                </ul>
            </div>
    </div>    
</footer>