<!-- trilha 5 -->
<div class="rowtrilha d-flex flex-wrap justify-content-center">
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">1</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha">Consulta</div>
                <div class="opcao">{{dsConsulta}}</div>
            </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">2</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha ">Especialidade</div>
                <div class="opcao ">{{dsEspecialidade}}</div>
            </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">3</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/calendario-agendamento'>
                <div class="trilha ">Data</div>
                <div class="opcao">{{data}}</div>
            </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">4</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/escolha-especialista'>
                <div class="trilha">Especialista</div>
                <div class="opcao">{{nmMedico}}</div>
            </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">5</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/escolha-especialista'>
                <div class="trilha">Horário</div>
                <div class="opcao">{{horario}}</div>
            </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">6</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Pagamento</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Confirmação</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
</div>
<!--fim trilha 5 -->


<!-- formulario -->

<section class="pagPag container d-flex flex-column">
    <div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="containerForma">
                    <div class="forma text-center text-secundary">
                        <h3>Forma de Pagamento</h3>
                    </div>
                </div>
            </div>
        </div>


        <!--- botoes Particular e Planos -->
        <div class="row">
            <div class="container text-center col-12 md-3 mt-3 mb-5">
                <a routerLink='/pagamento-plano'><button class="btn-active clicavel">Plano</button></a>
                <button class="btn-active clicado">Particular</button>
            </div>
        </div>
    </div>
    <!--- final botoes -->
    <div class="d-flex">
        <div class="containerEsq">
            <!-- Dados do cartão de crédito -->
            <div class="dadosCC">
                <form>
                    <!-- linha 1 - Número do cartão -->
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="numeroCC">Número do cartão*</label>
                            <input [(ngModel)]="nrCartao" name="nrCartao" type="text" class="form-control" id="nrCartao"
                                placeholder="Digite o número do Cartao" required>
                        </div>

                    </div>

                    <!-- linha 2 - Nome do titular -->
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="nomeTitular">Nome do titular do cartão*</label>
                            <input [(ngModel)]="nmTitular" name="nmTitular" type="text" class="form-control"
                                id="nmTitular" placeholder="Digite o nome como gravado no cartão" required>
                        </div>
                    </div>

                    <!-- linha 3 - Data de vencimento e código de segurança -->
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-4">
                            <label for="dtVencMes">Mês de vencimento*</label>
                            <select [(ngModel)]="mesVenc" name="mesVenc" id="dtVencMes" class="form-control" required>
                                <option value="undefined" selected>Mês</option>
                                <option value="1">01 - janeiro</option>
                                <option value="2">02 - fevereiro</option>
                                <option value="3">03 - março</option>
                                <option value="4">04 - abril</option>
                                <option value="5">05 - maio</option>
                                <option value="6">06 - junho</option>
                                <option value="7">07 - julho</option>
                                <option value="8">08 - agosto</option>
                                <option value="9">09 - setembro</option>
                                <option value="10">10 - outubro</option>
                                <option value="11">11 - novembro</option>
                                <option value="12">12 - dezembro</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-4">
                            <label for="dtVencAno">Ano de vencimento*</label>
                            <select  [(ngModel)]="anoVenc" name="anoVenc" id="dtVencAno" class="form-control" required>
                                <option value="undefined" selected>Ano</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-4">
                            <label for="codSegCC">CVV*</label>
                            <input [(ngModel)]="cvv" name="cvv" type="text" class="form-control" id="codSegCC" placeholder="000" required>
                        </div>
                    </div>


                    <!-- linha 4 - Números de parcelas -->
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="numParcelas">Opções de parcelamento*</label>
                            <select class="custom-select mb-2" [(ngModel)]="qtadeParcelas" id="name" name="parc"
                                (change)="salvarQtdadeParcelasLS()">
                                <option disabled value="undefined">Escolha o número de parcelas</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>

                    <!-- linha 5 - Salvar dados do cartão -->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="salvarCC" id="salvarCC" value="option1">
                        <label class="form-check-label" for="salvarCC">
                            Salvar dados do cartão para compras futuras
                        </label>
                    </div>
                </form>
            </div>
        </div>

        <div class="containerDir">
            <h4 class="resumoPedido text-center">Resumo do pedido</h4>
            <div class="tabelaPedido">
                <br>

                <table class="table">
                    <tr class="cabecalho ">
                        <th class="produto text-center">SERVIÇO</th>
                        <th class="quantidade text-center">ESPECIALISTA</th>
                        <th class="preco text-center">PARCELAS</th>
                    </tr>
                    <tr class="dadosPedido">
                        <td class="text-left">Consulta {{dsEspecialidade}}</td>
                        <td class="text-center">Dr(a) {{nmMedico}}</td>
                        <td class="text-right">3x de R$ 42,00</td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <th colspan="2" class="total">Total</th>
                        <td class="total text-right">R$ {{vlConsulta}}</td>
                    </tr>
                </table>
                <div class="btnConcluir">
                    <div class="col text-center">
                        <a routerLink='/confirmacao-consulta'><button class="btn-active clicavel"
                                value="CadastrarParticular" (click)="salvarTipoPagamento()">Confirmar</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>