<section>
    <div class="container-fluid">
        <div class="row">
            <img src="assets/img-grupo3/banner-2.jpg" class="banner" alt="">
            <img src="assets/img-grupo3/logo-branco.png" class="logo" alt="">
        </div>
    </div>
 </section>

<div class="container">

    <section class="progNutri">
    
        <div class="row titulo">
            <div class=col-6>
                <h1>Programa nutricional</h1>
            </div>
            <div class="col-6 d-flex flex-row-reverse align-items-center">
                <a (click)="voltar()"><img src="assets/img-grupo4/baseline_exit_to_app_black_18dp.png"></a>
            </div>
        </div>
        

        <div class="container cT">
            <div class="row pt-3">
                <div class="col-12 col-lg-7">
                    <div class="row c1A">
                        <div class="row pt-10">
                            <h4>Informações do paciente</h4>
                        </div>

                        <form action="#inicio">
                            <div class="form-row">

                                <div class="form-group col-md-12">
                                    <label for="name-paciente" class="label-form">Nome</label>
                                    <input type="text" class="form-control" id="nome" value="{{dadosPacienteResposta.nome}}" disabled>
                                </div>                    
            
                                <div class="form-group col-md-4">
                                    <label for="idade" class="label-form">Nascimento</label>
                                    <input type="text" class="form-control" id="dtNascimento" value="{{dadosPacienteResposta.dtNascimento | date: 'dd/MM/yyyy'}}"
                                        disabled="">
                                </div>

                                <div class="form-group col-6 col-md-4">
                                    <label for="peso" class="label-form">Peso</label>
                                    <input type="text" class="form-control" id="vlPeso" value="{{dadosPacienteResposta.vlPeso}}" name="vlPeso"
                                        disabled="">
                                </div>

                                <div class="form-group col-6 col-md-4">
                                    <label for="altura" class="label-form">Altura</label>
                                    <input type="text" class="form-control" id="vlAltura"  value="{{dadosPacienteResposta.vlAltura}}" name="vlAltura"
                                        disabled="">
                                </div>
                
                                <div class="form-group col-md-12">
                                    <label for="objetivo" class="label-form">Objetivo</label>
                                    <input type="objetivo" class="form-control" id="dsObjetivo" value="{{dadosPacienteResposta.dsObjetivo}}" name="dsObjetivo"
                                        disabled="">
                                </div>

                                <div class="form-group  col-md-12">
                                    <label for="restricoes"  class="label-form">Restrições</label>
                                    <input type="text" class="form-control" id="dsAlergiasRestricoes" value ="{{dadosPacienteResposta.dsAlergiasRestricoes}}" name="dsAlergiasRestricoes"
                                     disabled="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="praticaAtividade"  class="label-form">Hábitos e Vícios</label>
                                    <input type="text" class="form-control" id="dsHabitosVicios" value="{{dadosPacienteResposta.dsHabitosVicios}}" name="dsHabitosVicios"
                                     disabled="">
                                </div>

                            </div>
                        </form>
                    </div>


                    <div class="row c1B">

                        <div class="row tt">
                            <div class="col-12 col-lg-12">
                                <h2>Montar Cardápio</h2>
                            </div>
                        </div>

                        <div class="row tt">
                            <div class="col-12 col-lg-12">
                                <h4>Escolher a refeição</h4>
                            </div>
                        </div>

                        <form action="#inicio">
                            <div class="form-row  ">
                                <div class="form-group col-md-12">
                                    <select class="form-control" name="idTipoRefeicao"  [(ngModel)]="idTipoRefeicao" required> 
                                        <option value ="undefined">Selecione a refeição</option>
                                        <option *ngFor = "let tipoRefeicao of responseTipoRefeicao" [value]="tipoRefeicao.idTipoRefeicao">{{tipoRefeicao.dsTipoRefeicao}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="nomeReceita" [(ngModel)]="nomeReceita" required
                                        placeholder="Nome do Prato">
                                </div>
                                <div class="form-group col-md-6">
                                    <input class="form-control" type="number" name="qtCalorias" [(ngModel)]="qtCalorias" placeholder="Calorias (em kcal)" required>
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea type="text" class="form-control" name ="dsDescricao" [(ngModel)]="dsDescricao" placeholder="Descrição"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <input class="form-control" type="number" name="qtRendimento" [(ngModel)]="qtRendimento" placeholder="Rendimento (em porções). Ex. 1, 1.5, 3..." required>
                                </div>
                                <p>*Todos os campos são obrigatórios</p>
                            </div>
            
                            <div class="row d-flex justify-content-center">
                                <button type="button" class="btn btn-success btn-verde" id="btn-confirma"  value="Cadastrar" (click)="cadastrar()" data-toggle="modal" data-target="#finalizarModal">Confirmar</button>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="col-12 col-lg-5 card">

                    <h2 class="tt-cardapio pt-2">CARDÁPIO</h2>

                    <div class="row justify-content-center pt-3 spinner-grow text-muted">
                        <i *ngIf="spinResponseCardapio" class="fa fa-spinner fa-spin"></i>
                    </div>

                    <div class="row justify-content-center pt-3 pl-1" *ngFor = "let cardapio of responseCardapio">
                        <div class="card" style="width: 900%;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-11 col-lg-11"> <h6 class="card-title">{{cardapio.nomeReceita}} </h6> </div>
                                    <div class="col-1 col-lg-1 red" alt="Excluir cardápio" (click)="open(content, cardapio.idCardapio)" id="btn-confirma" data-toggle="modal" data-target="#exampleModal"> X </div>
                                </div>
                                <p class="card-text">Refeição: {{cardapio.idTipoRefeicao.dsTipoRefeicao}}</p>
                                <p class="card-text">Calorias: {{cardapio.qtCalorias}} kcal</p>
                            </div>
                        </div>
                    </div> 
                </div>

                <!-- Modal -->
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Excluir Refeição</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <p>Deseja excluir essa refeição do cardápio do paciente?</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancelar</button>
                    <button type="button" class="btn btn-outline-dark" (click)="excluirCardapio(d)">Excluir</button>
                    </div>
                </ng-template>

            </div>
        </div>

    </section>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
</div>

<footer class="mt-4">
    <div class="row">
        <div class="col-md-6"><img src="assets/img-grupo3/logo-footer.png"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h4>SOCIAL MIDIA</h4>
            <ul class="nav flex-column rodape">
                <li class="nav-item"><img src="assets/img-grupo3/logo-facebook.png"><a class="nav-link"
                        href="#">Facebook</a></li>
                <li class="nav-item"><img src="assets/img-grupo3/logo-linkedin.png"><a class="nav-link"
                        href="#">Linkedin</a></li>
            </ul>
        </div>
    </div>
</footer>