<head>
  <title>Área do Médico</title>
  <meta charset="utf-8">
</head>

<div class="container-fluid banner">
  <div class="row">
    <img src="assets/img-grupo4/banner-2.jpg" class="superior" alt="">
    <img src="assets/img-grupo4/logo-branco.png" class="logo" alt="">
    <img src="assets/img-grupo4/usuario.png" class="usuario" alt="">
    <button class="meuPerfil" routerLink="/perfil/medico">Meu Perfil</button>
    <button class="sair">Sair</button>
  </div>
</div>




<br>
<br>
<div class="container">
  <div class="row">
    <div class="agenda col-12 col-md-5">
      <h1 class="text-center">Agenda 23/12</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>7h</td>
            <td>José Filho</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>
          <tr>
            <td>8h</td>
            <td>Aline Miller</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>
          <tr>
            <td>9h</td>
            <td>Elaine Moura</td>
            <td>
              Online
            </td>
            <td class="pendente">
              Pendente
            </td>
          </tr>

          <tr>
            <td>10h</td>
            <td>Maria Santos </td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>

          <tr>
            <td>11h</td>
            <td>Renato Oliveira</td>
            <td>
              Presencial
            </td>
            <td class="pendente">
              Pendente
            </td>
          </tr>

          <tr>
            <td>12h</td>
            <td>Beatriz Lima</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>

          <tr>
            <td>14h</td>
            <td>Marcelo Sousa</td>
            <td>
              Online
            </td>
            <td class="pendente">
              Pendente
            </td>
          </tr>

          <tr>
            <td>15h</td>
            <td>Tiago Cardoso</td>
            <td>
              Presencial
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>

          <tr>
            <td>16h</td>
            <td>Paula Silva</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>

          <tr>
            <td>17h</td>
            <td>Luisa Pereira</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>
          <tr>
            <td>18h</td>
            <td>Dimas Silva</td>
            <td>
              Presencial
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>
          <tr>
            <td>19h</td>
            <td>Antônio Nunes</td>
            <td>
              Online
            </td>
            <td class="pendente">
              Pendente
            </td>
          </tr>
          <tr>
            <td>20h</td>
            <td>Ana Teixeira</td>
            <td>
              Online
            </td>
            <td class="confirmado">
              Confirmado
            </td>
          </tr>
          <tr>
            <td>21h</td>
            <td>Laura Monteiro</td>
            <td>
              Online
            </td>
            <td class="pendente">
              Pendente
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="botoes col-12 col-md-6">
      <button class="menu" routerLink="/atendimento/especialista">Iniciar Atendimento</button>
      <br>
      <br>
      <br>
      <button class="menu" routerLink="/historico/paciente">Histórico de Pacientes</button>
      <br>
      <br>
      <br>
      <button class="menu" routerLink="/agenda/medico">Agenda Geral</button>
      <br>
      <br>
      <br>
      <button class="menu">Plano Nutricional</button>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-md-6"><img src="assets/img-grupo4/logo-footer.png"></div>
    <div class="col-md-2">
      <h4>MAPA DO SITE</h4>
      <ul class="nav flex-column rodape">
        <li class="nav-item"><a class="nav-link" href="#">Iniciar Atendimento</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Histórico de Paciente</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Agenda Geral</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Plano Nutricional</a></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>SOCIAL MIDIA</h4>
      <ul class="nav flex-column rodape">
        <li class="nav-item"><img src="assets/img-grupo4/logo-facebook.png"><a class="nav-link" href="#">Facebook</a>
        </li>
        <li class="nav-item"><img src="assets/img-grupo4/logo-linkedin.png"><a class="nav-link" href="#">Linkedin</a>
        </li>
      </ul>
    </div>

  </div>
</footer>