<head>
  <title>Área do Médico</title>
  <meta charset="utf-8">
</head>

<div class="container-fluid banner">
  <div class="row">
    <img src="assets/img-grupo4/banner-2.jpg" class="superior" alt="">
    <img src="assets/img-grupo4/logo-branco.png" class="logo" alt="">
    <img src="assets/img-grupo4/usuario.png" class="usuario" alt="">
    <button class="meuPerfil" routerLink="/perfil/medico">Meu Perfil</button>
    <button class="sair" (click)="limparStorage()">Sair</button>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-1"></div>
    <div class="agenda col-12 col-md-10">
      <h1 class="text-center">{{data|date:"dd/MM/yyyy"}}</h1>
      <table class="table">
        <tbody>
          <tr *ngFor="let agendamento of agendamentosResposta">
            <td class="tdAgenda">{{agendamento.agenda.periodo.horaInicial}}</td>
            <td class="tdAgenda">{{agendamento.paciente.nmNome}}</td>
            <td class="tdAgenda">
              {{agendamento.agenda.tipoConsulta.dsTipoConsulta}}
            </td>
            <td class="tdAgenda confirmado">
              {{agendamento.statusConsulta.dsStatusConsulta}}
            </td>
            <td>
              <button class="menu2" [routerLink]="['/atendimento/especialista', agendamento.idAgPaciente, agendamento.paciente.idUsuario]">Iniciar Atendimento</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-1"></div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-4">
      <button class="menu" routerLink="/historico/paciente" >Histórico de Pacientes</button>
    </div>
    <div class="col-4">
      <button class="menu" routerLink="/agenda/medico">Agenda Geral</button>
    </div>
    <div class="col-4">
      <button class="menu">Plano Nutricional</button>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="col-md-6"><img src="assets/img-grupo4/logo-footer.png"></div>
    <div class="col-md-2">
      <h4>MAPA DO SITE</h4>
      <ul class="nav flex-column rodape">
        <li class="nav-item"><a class="nav-link" routerLink="/atendimento/especialista">Iniciar Atendimento</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/historico/paciente">Histórico de Paciente</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/agenda/medico">Agenda Geral</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Plano Nutricional</a></li>
      </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>SOCIAL MIDIA</h4>
      <ul class="nav flex-column rodape">
        <li class="nav-item"><img src="assets/img-grupo4/logo-facebook.png"><a class="nav-link" href="#">Facebook</a>
        </li>
        <li class="nav-item"><img src="assets/img-grupo4/logo-linkedin.png"><a class="nav-link" href="#">Linkedin</a>
        </li>
      </ul>
    </div>

  </div>
</footer>