<app-header *ngIf="!ehLogado"></app-header>
<app-header-logado *ngIf="ehLogado"></app-header-logado>
<div *ngIf="ehLogado == false">
    
</div>
<div class="container" *ngIf="ehLogado">
    
    <section>

        <div class="banner"></div>
        
        <div class="row align-items-end pt-2">
            <div class="col-12 col-lg-8">
                <h1 class="titulo">Meus Agendamentos</h1>
            </div>
            <div class="col-12 col-lg-4">
                <h5><a [routerLink] = "['/agservico']" class="sub" > Realizar novo agendamento > </a> </h5>
            </div>
        </div>

        <div class="row justify-content-center pt-5 spinner-grow text-muted">
            <i *ngIf="spinCarregando" class="fa fa-spinner fa-spin"></i>
        </div>

        <div *ngIf = "agendamentos == false">
            <div class="row pl-3 pt-5">
                <h5>Não há agendamentos para esse usuário</h5>
            </div>
        </div>

        <div *ngIf = "agAgendados.length > 0">
            <div class="row pl-3 pt-1">
                <h4 class="titulo-p">Próximos agendamentos</h4>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4 pt-3"  *ngFor = "let ag of agAgendados">
                    <div class="card" style="width: 90%; height: 12rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{ag.servico.nome}}</h5>
                        <p class="card-text">Horário: {{ag.dtDataHora}}</p>
                        <p class="card-text">Local: {{ag.loja.enderecos[0].dsEndereco}}, {{ag.loja.enderecos[0].dsBairro}} </p>
                        <p class="sub justify-content-end"><a class="sub" (click)="cancelarAgendamento(ag.idAgendamento)"> Cancelar agendamento </a> </p>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf = "agRealizados.length > 0">
            <div class="row pl-3 pt-5">
                <h4 class="titulo-p">Histórico de agendamentos</h4>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4 pt-3"  *ngFor = "let ag of agRealizados">
                    <div class="card" style="width: 90%; height: 11rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{ag.servico.nome}}</h5>
                        <p class="card-text">Horário: {{ag.dtDataHora}}</p>
                        <p class="card-text">Local: {{ag.loja.enderecos[0].dsEndereco}}, {{ag.loja.enderecos[0].dsBairro}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div *ngIf = "agCancelados.length > 0"> 
            <div class="row pl-3 pt-5">
                <h4 class="titulo-p">Agendamentos Cancelados</h4>
            </div>

            <div class="row">
                <div class="col-12 col-lg-4 pt-3"  *ngFor = "let ag of agCancelados">
                    <div class="card" style="width: 90%; height: 11rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{ag.servico.nome}}</h5>
                        <p class="card-text">Horário: {{ag.dtDataHora}}</p>
                        <p class="card-text">Local: {{ag.loja.enderecos[0].dsEndereco}}, {{ag.loja.enderecos[0].dsBairro}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 100px;"></div>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
<app-footer></app-footer>