<div class="container">

    <section>

        <div class="banner"></div>
        
        <div class="row align-items-end pt-2">
            <div class="col-12 col-lg-8">
                <h1 class="titulo">Meus Agendamentos</h1>
            </div>
            <div class="col-12 col-lg-4">
                <h5><a href="" class="sub"> Realizar novo agendamento > </a> </h5>
            </div>
        </div>

        <button type="button" class="btn btn-success btn-verde btn-seleciona"  (click)="clickAqui()">CLIQUE AQUI</button>
    

        <div *ngIf = "exibir3 == true">
        <div class="row pl-3 pt-4">
            <h4 class="titulo-p">Próximos agendamentos</h4>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 pt-3"  *ngFor = "let ag of agAgendados">
                <div class="card" style="width: 90%;">
                    <div class="card-body">
                      <h5 class="card-title">{{ag.dsServico}}</h5>
                      <p class="card-text">Horário: {{ag.dtDataHora}}.</p>
                      <p class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</p>
                      <p class="card-text">Local: {{ag.endLoja}} </p>
                    </div>
                </div>
            </div>
        </div>
        </div>

       <!-- <div class="row">
            <div class="col-12 col-lg-6 pt-3"  *ngFor = "let ag of agAgendados">
                <div class="card" style="width: 90%;">
                    <div class="card-body">
                      <h5 class="card-title">Aplicação de medicamento</h5>
                      <p class="card-text">Horário: 8:15 a.m.</p>
                      <p class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</p>
                      <p class="card-text">Local: Avenida Mar Floriano Peixoto, 12 </p>
                    </div>
                </div>
            </div>
        </div>
        </div> -->


        <div class="row pl-3 pt-5">
            <h4 class="titulo-p">Histórico de agendamentos</h4>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 pt-3">
                <div class="card" style="width: 90%;">
                    <div class="card-body">
                      <h5 class="card-title">Aplicação de medicamento</h5>
                      <p class="card-text">Horário: 8:15 a.m.</p>
                      <p class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</p>
                      <p class="card-text">Local: Avenida Mar Floriano Peixoto, 12 </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 pt-3">
                <div class="card" style="width: 90%;">
                    <div class="card-body">
                      <h5 class="card-title">Aplicação de medicamento</h5>
                      <p class="card-text">Horário: 8:15 a.m.</p>
                      <p class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</p>
                      <p class="card-text">Local: Avenida Mar Floriano Peixoto, 12 </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pl-3 pt-5">
            <h4 class="titulo-p">Agendamentos Cancelados</h4>
        </div>

        <div class="row pb-5">
            <div class="col-12 col-lg-6 pt-3">
                <div class="card" style="width: 90%;">
                    <div class="card-body">
                      <h5 class="card-title">Aplicação de medicamento</h5>
                      <p class="card-text">Horário: 8:15 a.m.</p>
                      <p class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</p>
                      <p class="card-text">Local: Avenida Mar Floriano Peixoto, 12 </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>