.titulo{
    color: #319A75;
}

.banner {
    background-image: url('/assets/img/banner.jpg');
    background-size: contain;
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
}

.sub{
    color: #444444;
    text-decoration: underline;
}

.sub:hover{
    color: #319A75;
}

.titulo-p{
    color:#444444;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

.card{
    background-color: rgb(247, 245, 245);
}