<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href=""><img src="./assets/assets-grupo2/logo-menu.PNG"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-6 item-menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="#">Planos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sustentabilidade</a></li>
        </ul>
      </div>
      <div class="col-6 nav-text d-flex justify-content-end">
        <ul class="navbar-nav mr-1">
          <li class="nav-item"><a class="nav-link" routerLink='/agendamento-consultas'><b>Agendamento de
                Consultas</b></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="todos-filtros container col-12 d-flex ">
  <div class="filtro-text">
    <h4>Filtrar > </h4>
  </div>
  <div class="filtro">
    <input type="checkbox" id="agendadas" name="filtro" value="Agendadas">
    <label for="#">Agendadas</label><br>
    <input type="checkbox" id="agendadas" name="filtro" value="Realizadas">
    <label for="#">Realizadas</label><br>
    <input type="checkbox" id="agendadas" name="filtro" value="Canceladas">
    <label for="#">Canceladas</label>
  </div>
  <div class="filtro1">
    <input type="checkbox" id="agendadas" name="filtro" value="Endocrinologia">
    <label for="#">Endocrinologia</label><br>
    <input type="checkbox" id="agendadas" name="filtro" value="Cardiologia">
    <label for="#">Cardiologia</label><br>
    <input type="checkbox" id="agendadas" name="filtro" value="Oftalmologia">
    <label for="#">Oftalmologia</label>
  </div>
  <div class="fechar-filtro"><b>x </b>Fechar Filtros</div>
</div>
<section class="container d-flex flex-column align-items-center">
  <h1>Minhas Consultas</h1>
  <div class="lista-consultas col-10">
    <h4 id="titulo-agendadas">Consultas Agendadas</h4>
    <div *ngFor="let agPaciente of responseAgPacientes">
      <div *ngIf="agPaciente.status_consulta.id_status_consulta == 1">
      <div  class="row consulta agendada d-flex align-items-center justify-content-between justify-content-between">
          <p class="texto-consulta col-8">
          {{agPaciente.agenda.data}} -
          {{agPaciente.agenda.periodo.hora_inicial}} -
          {{agPaciente.status_consulta.ds_status_consulta}} - Dr(a).
          {{agPaciente.agenda.medico.nome}} -
          {{agPaciente.agenda.medico.esp_med.ds_esp_med}}.
        </p>
      <div>
        <button class="checkin col-2" data-toggle="modal" data-target="#checkinModal">Check-in</button>
        <button class="remarcar col-2" data-toggle="modal" data-target="#remarcarModal">Reagendar</button>
        <button class="col-2 btn-canc" data-toggle="modal" data-target="#cancelarModal" value="AtualizarAgPaciente" (click)="atualizarAgPaciente()">Cancelar</button>
      </div>
      </div>
    </div>
  </div>

    <h4 id="titulo-realizadas">Consultas Realizadas</h4>
    <div *ngFor="let agPaciente of responseAgPacientes">
   
      <div *ngIf="agPaciente.status_consulta.id_status_consulta == 2">
      <div  class="row consulta realizada d-flex align-items-center justify-content-between">
        <p class="texto-consulta col-8">
          {{agPaciente.agenda.data}} -
          {{agPaciente.agenda.periodo.hora_inicial}} -
          {{agPaciente.status_consulta.ds_status_consulta}} - Dr(a).
          {{agPaciente.agenda.medico.nome}} -
          {{agPaciente.agenda.medico.esp_med.ds_esp_med}}.
        </p>
        <button class="checkin col-6">Nova Consulta</button>
      </div>
    </div>
    </div>

    <h4 id="titulo-canceladas">Consultas Canceladas</h4>
    <div *ngFor="let agPaciente of responseAgPacientes">
      <div *ngIf="agPaciente.status_consulta.id_status_consulta == 3">
      <div class="row consulta cancelada d-flex align-items-center justify-content-between">
        <p class="texto-consulta col-8">
          {{agPaciente.agenda.data}} -
          {{agPaciente.agenda.periodo.hora_inicial}} -
          {{agPaciente.status_consulta.ds_status_consulta}} - Dr(a).
          {{agPaciente.agenda.medico.nome}} -
          {{agPaciente.agenda.medico.esp_med.ds_esp_med}}.
        </p>
      </div>
    </div>
  </div>
    <!-- Modal check-in -->
    <div class="modal fade" id="checkinModal" tabindex="-1" role="dialog" aria-labelledby="checkinModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Check-in</h5>
          </div>
          <div class="modal-body">
            Check-in realizado com sucesso!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Confirmar cancelar -->
    <div class="modal fade" id="cancelarModal" tabindex="-1" role="dialog" aria-labelledby="cancelarModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cancelar Consulta</h5>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja cancelar a consulta?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-toggle="modal"
              data-target="#canceladaModal">Sim</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Cancelada -->
    <div class="modal fade" id="canceladaModal" tabindex="-1" role="dialog" aria-labelledby="canceladaModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Consulta Cancelada</h5>
          </div>
          <div class="modal-body">
            Consulta cancelada com sucesso!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Confirmar reagendar -->
    <div class="modal fade" id="remarcarModal" tabindex="-1" role="dialog" aria-labelledby="remarcarModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Reagendar Consulta</h5>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja reagendar a consulta?
          </div>
          <div class="modal-footer">
            <a href="#"><button type="button" class="btn btn-secondary">Sim</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>