<div class="container">
    <div class="banner"></div>

    <section>

        <div class="row titulo">
            <h1>Programa nutricional</h1>
        </div>

        <div class="container cT">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="row c1A">
                        <div class="row pt-10">
                            <h2>Informações do paciente</h2>
                        </div>

                        <form action="#inicio">
                            <div class="form-row">

                                <div  *ngFor = "let dadosPaciente of responseDadosPaciente" class="form-group col-md-12">
                                    <input type="nome" class="form-control" id="inputNome" placeholder="Nome">
                                     {{dadosPaciente.nome}}
                                     {{dadosPaciente.vlPeso}}
                                     {{dadosPaciente.vlAltura}}
                                     {{dadosPaciente.dsHabitosVicio}}
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="idade" class="form-control" id="inputIdade" placeholder="Idade"
                                        disabled="">
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="inputPeso" placeholder="Peso"
                                        disabled="">
                                </div>

                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="inputAltura" placeholder="Altura"
                                        disabled="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="inputObjetivo">Objetivo</label>
                                    <input type="objetivo" class="form-control" id="inputObjetivo"
                                        disabled="">
                                </div>

                                <div class="form-group  col-md-12">
                                    <label for="inputRestricoes">Restrições</label>
                                    <input type="text" class="form-control" id="inputRestricoes"
                                     disabled="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="inputPraticaAtividade">Pratica Atividade</label>
                                    <input type="text" class="form-control" id="inputPraticaAtividade"
                                     disabled="">
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="row c1B">

                        <div class="row tt">
                            <div class="col-12 col-lg-12">
                                <h2>Montar Cardápio</h2>
                            </div>
                        </div>

                        <div class="row tt">
                            <div class="col-12 col-lg-12">
                                <h4>Escolher a refeição</h4>
                            </div>
                        </div>

                        <form action="#inicio">
                            <div class="form-row  ">
                                <div class="form-group col-md-12">
                                    <select id="inputEscolherRefeicao" class="form-control" id="EscolherRefeicao" required>
                                        <option value ="selecione">Selecione a refeição</option>
                                        <option *ngFor = "let tipoRefeicao of responseTipoRefeicao" [value]="tipoRefeicao.idTipoRefeicao">{{tipoRefeicao.dsTipoRefeicao}}</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="nomeReceita" name = " nomeReceita" [(ngModel)]="request.nomeReceita" #nomeReceita= "ngModel" required
                                        placeholder="Nome do Prato">
                                </div>
                            
                            
                                <div class="form-group col-md-6">
                                    <input class="form-control" id="qtRendimento" name = "qtRendimento" [(ngModel)]="request.qtRendimento" #qtRendimento= "ngModel" placeholder="Calorias" required>
                                </div>


                                <div class="form-group col-md-12">
                                    <textarea type="text" class="form-control" id="dsDescricao" name = "dsDescricao" [(ngModel)]="request.dsDescricao" #qtDescricao= "ngModel" placeholder="Descrição" required rows = "3"></textarea>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <input class="form-control" id="qtCalorias" name = "qtCalorias" [(ngModel)]="request.qtCalorias" #qtCalorias= "ngModel" placeholder="Quantidade" required>
                            </div>

            
                            <div class="row d-flex justify-content-center">
                                <button type="button" class="btn btn-success btn-verde" id="btn-confirma"  value="Cadastrar" (click)="cadastrar()">Confirmar</button>
                            </div>

                        </form>

                    </div>
                </div>

                <div class="col-12 col-lg-5 c1C">
                    <h2 class="tt-cardapio">CARDÁPIO</h2>

                 
                    <div  class="receitas">
                        <h5><button class="btn-padrao"><i class="fa fa-plus" aria-hidden="true"></i></button>Refeição<button class="btn-padrao"><i class="fa fa-trash"></i></button></h5>
                        <h6>Nome do Prato</h6>
                        <h6>Quantidade</h6>
                        <h6>Calorias</h6>
                    </div>

                    <div  class="receitas">
                        <h5><button class="btn-padrao"><i class="fa fa-plus" aria-hidden="true"></i></button>Refeição<button class="btn-padrao"><i class="fa fa-trash"></i></button></h5>
                        <h6>Nome do Prato</h6>
                        <h6>Quantidade</h6>
                        <h6>Calorias</h6>
                    </div>

                        <div  class="receitas">
                            <h5><button class="btn-padrao"><i class="fa fa-plus" aria-hidden="true"></i></button>Refeição<button class="btn-padrao"><i class="fa fa-trash"></i></button></h5>
                            <h6>Nome do Prato</h6>
                            <h6>Quantidade</h6>
                            <h6>Calorias</h6>
                        </div>

                        <div  class="receitas">
                            <h5><button class="btn-padrao"><i class="fa fa-plus" aria-hidden="true"></i></button>Refeição<button class="btn-padrao"><i class="fa fa-trash"></i></button></h5>
                            <h6>Nome do Prato</h6>
                            <h6>Quantidade</h6>
                            <h6>Calorias</h6>
                        </div>
                        
                        <div  class="receitas">
                            <h5><button class="btn-padrao"><i class="fa fa-plus" aria-hidden="true"></i></button>Refeição<button class="btn-padrao"><i class="fa fa-trash"></i></button></h5>
                            <h6>Nome do Prato</h6>
                            <h6>Quantidade</h6>
                            <h6>Calorias</h6>
                        </div>
                    
                        <div class="row d-flex justify-content-center">
                            <button type="button" class="btn-verde btn-success btn-verde" id="bt-finalizar" data-toggle="modal" data-target="#finalizarModal">Finalizar</button>
                        </div>

                        <div class="modal fade" id="finalizarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Programa Nutricional</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    Cardápio criado com sucessso!
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-verde btn-primary">Ok</button>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div>
                


            </div>
        </div>

    </section>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
</div>