<body>

    <div class="container-fluid">

        <section class="container">

            <!-- Navegação Lembretes -->
            <div class="row nav-lembretes">
                <div class="col-12 col-md-4 p-3 btn-lembrete">
                    <!-- BOTAO NOVO LEMBRETE -->
                    <button type="button" value="" class="btn" id="todoSubmit" data-toggle="modal"
                        data-target=".bd-lembrete-modal-lg">Novo lembrete<i class="fas fa-plus pr-2"></i></button>
                </div>

                <div class="col-12 col-md-8 controlar-lembretes">
                    <form class="controlar-lembretes-form">
                        <label for="lembretes-ordem">Ordenar por:</label>
                        <select name="lembretes-ordem" id="lembretes-ordem" class="form-control">
                            <option value="valor1">Mais recente</option>
                            <option value="valor2" selected>Mais antigo</option>
                            <option value="valor3">Data de criação</option>
                        </select>
                    </form>
                </div>
            </div>
            <!-- Categoria Lembretes -->
            <div>
                <app-lembrete-lista></app-lembrete-lista>

                <app-modal-lembrete></app-modal-lembrete>

            </div>
        </section>

    </div>


    <script type="text/javascript" src="./js/area-cliente.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>