/* Inicio Foto perfil */
.perfil{
    color: #444444;
    margin-right: 70px;
    font-size: 0.8rem;
}


.perfil::after{
    content:url("src/assets/grupo1/img/profile.png");
    max-width:100%;
}

.btn{
    background-color: #319A75;
    color: #fff;
} 

button#todoSubmit{
    border-radius:0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding:2%;
}

section .btn:hover {
    background-color: rgb(000, 080, 052);
}

/* FIM Foto perfil */



.lembretes-plano {
    display: flex;
    justify-content: center;
}

/* Titulo */
.titulo{
    color: #319A75;
}

/* organizacao lembretes */

.nav-lembretes {
    display: flex;
}

.controlar-lembretes {
    display: flex;
    align-items: center;
}

.controlar-lembretes-form{
    margin-right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.controlar-lembretes-form label {
    text-align: right;
    margin-right: 20px;
}

@media(max-width:540px) {
    .nav-lembretes {
        flex-direction: column;
        align-items: center;
    }

    .btn-lembrete .btn {
        margin: auto;
    }
}
