 <!-- trilha 1 -->
 <div class="rowtrilha d-flex flex-wrap justify-content-center">
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">1</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
            <div class="trilha">Consulta</div>
            <div class="opcao">Presencial</div>
          </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">2</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
          <a routerLink='/agendamento-consultas'>
            <div class="trilha ">Especialidade</div>
            <div class="opcao ">Endocrinologia</div>
          </a>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
          <div class="bolinha bolinhaVazia">3</div>
          <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
          <div class="trilha">Data</div>
          <div class="opcao-vazia">vazio</div>
      </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">4</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Especialista</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">5</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Horário</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">6</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Pagamento</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Confirmação</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
  </div>
  <!--fim trilha 2 -->

    <div class="container1">
        <div class="container text-center">
         <a routerLink="/escolha-especialista"><img src="./assets/assets-grupo2/calendario2.png"></a>
        </div>
    </div>
   

    
 
  <app-footer></app-footer>
