
        
    <section class="container">
        <h2 class="text-center">Meus Dados</h2>

        <form>

            <h6>Dados Pessoais:</h6>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="cadastro-nome">Nome Completo:</label>
                        <input type="text" class="form-control" id="cadastro-nome" placeholder="Digite o seu nome">
                       </div>
                    <div class="form-group col-md-3">
                        <label for="cadastro-sexo">Sexo:</label>
                        <select class="form-control" id="cadastro-sexo">
                            <option *ngFor="let formularioMeusDados of responseFormularioMeusDados.genero">
                                {{formularioMeusDados.dsGenero}}</option>
                            <!--<option>Feminino</option>
                            <option>Masculino</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cadastro-cpf">CPF:</label>
                        <input type="text" class="form-control" id="cadastro-cpf" placeholder="Digite o seu CPF">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="cadastro-ddd">DDD:</label>
                        <input type="text" class="form-control" id="cadastro-ddd"
                            placeholder="(000)">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cadastro-celular">Celular:</label>
                        <input type="text" class="form-control" id="cadastro-celular" placeholder="Digite o seu Celular">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cadastro-nascimento">Data de Nascimento:</label>
                        <input type="date" class="form-control" id="cadastro-nascimento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cadastro-cep">CEP:</label>
                        <input type="text" class="form-control" id="cadastro-cep" placeholder="Digite o seu CEP">
                    </div>
                    <div class="form-group col-md-7">
                        <label for="cadastro-endereco">Endereço:</label>
                        <input type="text" class="form-control" id="cadastro-endereco"
                            placeholder="Digite o seu endereço">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="cadastro-cep">Número:</label>
                        <input type="text" class="form-control" id="cadastro-numero" placeholder="Número">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="cadastro-bairro">Bairro:</label>
                        <input type="text" class="form-control" id="cadastro-bairro" placeholder="Digite o seu Bairro">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cadastro-estado">Estado:</label>
                        <select class="form-control" id="cadastro-estado">
                        <option *ngFor="let formularioMeusDados of responseFormularioMeusDados.ufs">
                            {{formularioMeusDados.dsUf}}</option>
                           
                           <!--- <option disabled selected>Selecione</option>
                            <option>AC</option>
                            <option>AL</option>
                            <option>AP</option>
                            <option>AM</option>
                            <option>BA</option>
                            <option>CE</option>
                            <option>DF</option>
                            <option>ES</option>
                            <option>GO</option>
                            <option>MA</option>
                            <option>MT</option>
                            <option>MS</option>
                            <option>MG</option>
                            <option>PA</option>
                            <option>PB</option>
                            <option>PR</option>
                            <option>PE</option>
                            <option>PI</option>
                            <option>RJ</option>
                            <option>RN</option>
                            <option>RS</option>
                            <option>RO</option>
                            <option>RR</option>
                            <option>SC</option>
                            <option>SP</option>
                            <option>SE</option>
                            <option>TO</option> -->
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="cadastro-cidade">Cidade:</label>
                        <select class="form-control" id="cadastro-cidade">
                            <option disabled selected>Selecione</option>
                            <option>Bauru</option>
                            <option>Campinas</option>
                            <option>Diadema</option>
                            <option>Guarulhos</option>
                            <option>Osasco</option>
                            <option>São Paulo</option>
                            <option>São Bernardo do Campo</option>
                            <option>São Caetano do Sul</option>
                            <option>Santo André</option>
                        </select>
                    </div>
                </div>
                <hr>

                <div class="form-row">
                    <div class="form-group col-md-6" id="altera-foto">
                        <img id="img-perfil" src="assets/grupo1/img/icon_login.png">
                        <button type="button" class="btn botao-altera-foto" data-toggle="modal"
                            data-target=".bd-foto-perfil-modal-lg">Alterar Foto</button>
                    </div>
                    <div class="form altera-senha">
                        <label>Alterar a Senha:</label>
                        <div class="form-row"></div>
                        <div class="form-group col-md-6">
                            <label for="cadastro-senha">Senha atual:</label>
                            <input type="password" class="form-control" id="cadastro-senha"
                                placeholder="Digite a senha">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cadastro-senha-nova">Nova senha:</label>
                                <input type="password" class="form-control" id="cadastro-senha-nova"
                                    placeholder="Digite a senha">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cadastro-senha-nova2">Repita a nova senha:</label>
                                <input type="password" class="form-control" id="cadastro-senha-nova2"
                                    placeholder="Digite a senha">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <hr>

            <h6>Planos:</h6>

            <div class="modal-body" id="planos-dados">
                <div class="card-deck">
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/BASIC.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Basic</h5>
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <div><button class="btn  btn-card" disabled>Incluso</button></div>
                    </div>
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/PLUS.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Plus</h5>
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                            <p class="card-text">Consulta com o Clínico Gera</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <!--Botao do Modal de Cartão-->
                        <div><button type="button" class="btn btn-card" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Selecionar</button></div>
                    </div>
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/PREMIUM.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Premium</h5>
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                            <p class="card-text">Consulta com o Clínico Gera</p>
                            <p class="card-text">Consulta com Especialistas</p>
                            <p class="card-text">Programa Nutricional</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <!--Botao do Modal de Cartão-->
                        <div><button type="button" class="btn btn-card" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Selecionar</button></div>
                    </div>
                </div>
            </div>

            <div class="form-group botoes-cadastro">
                <a routerLink="/area-cliente"><button class="btn btns-cadastro">Alterar</button></a>
                <a routerLink="/portal"><button class="btn btn-cancelar">Cancelar</button></a>
            </div>
        </form>
    </section>
