<body>
    <section class="container">
        <h2 class="text-center">Meus Dados</h2>

        <form>

            <h6>Dados Pessoais:</h6>
            <form #formDadosCliente="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="dados-cliente-nome">Nome Completo:</label>
                        <input type="text" class="form-control" id="dados-cliente-nome"
                            [(ngModel)]="outputCliente.usuario.nmNome" #nmNome="ngModel" name="nmNome" required
                            minlength="3" maxlength="100">
                        <div *ngIf="nmNome.errors && (nmNome.touched)" class="alert alert-light">
                            <div [hidden]="!nmNome.errors.required">
                                O campo nome é obrigatório.
                            </div>
                            <div [hidden]="!nmNome.errors.minlength">
                                O campo nome deve conter no mínimo 3 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cadastro-sexo">Sexo:</label>
                        <select class="form-control" id="cadastro-sexo" [(ngModel)]="outputCliente.usuario.idGenero"
                            #idGenero="ngModel" name="idGenero">
                            <option *ngFor="let genero of responseFormularioMeusDados.genero" [value]="genero.idGenero">
                                {{genero.dsGenero}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cadastro-cpf">CPF:</label>
                        <input type="text" class="form-control" id="cadastro-cpf"
                            [(ngModel)]="outputCliente.usuario.nrCpf" #nrCpf="ngModel" name="nrCpf" required>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="cadastro-ddd">DDD:</label>
                        <input type="text" class="form-control" id="cadastro-ddd" [(ngModel)]="outputCliente.ddd"
                            #nrDdd="ngModel" name="nrDdd" required minlength="3" maxlength="3">
                        <div *ngIf="nrDdd.errors && (nrDdd.touched)" class="alert alert-light">
                            <div [hidden]="!nrDdd.errors.required">
                                O campo ddd é obrigatório.
                            </div>
                            <div [hidden]="!nrDdd.errors.minlength">
                                O campo ddd deve conter no mínimo 3 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cadastro-celular">Celular:</label>
                        <input type="text" class="form-control" id="cadastro-celular"
                            [(ngModel)]="outputCliente.celular" #celular="ngModel" name="celular" required minlength="9"
                            maxlength="9">
                        <div *ngIf="celular.errors && (celular.touched)" class="alert alert-light">
                            <div [hidden]="!celular.errors.required">
                                O campo celular é obrigatório.
                            </div>
                            <div [hidden]="!celular.errors.minlength">
                                O campo celular deve conter no mínimo 9 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="cadastro-nascimento">Data de Nascimento:</label>
                        <input type="date" class="form-control" id="cadastro-nascimento"
                            [(ngModel)]="outputCliente.usuario.dtNascimento" #dtNascimento="ngModel" name="dtNascimento"
                            required>
                        <div *ngIf="dtNascimento.errors && (dtNascimento.touched)" class="alert alert-light">
                            <div [hidden]="!dtNascimento.errors.required">
                                O campo data de nascimento é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="cadastro-cep">CEP:</label>
                        <input type="text" class="form-control" id="cadastro-cep"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].nrCep" #nrCep="ngModel" name="nrCep"
                            required minlength="8" maxlength="8">
                        <div *ngIf="nrCep.errors && (nrCep.touched)" class="alert alert-light">
                            <div [hidden]="!nrCep.errors.required">
                                O campo CEP é obrigatório.
                            </div>
                            <div [hidden]="!nrCep.errors.minlength">
                                O campo CEP deve conter no mínimo 8 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="cadastro-endereco">Endereço:</label>
                        <input type="text" class="form-control" id="cadastro-endereco"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].dsEndereco" #dsEndereco="ngModel"
                            name="dsEndereco" required minlength="5" maxlength="100">
                        <div *ngIf="dsEndereco.errors && (dsEndereco.touched)" class="alert alert-light">
                            <div [hidden]="!dsEndereco.errors.required">
                                O campo endereço é obrigatório.
                            </div>
                            <div [hidden]="!dsEndereco.errors.minlength">
                                O campo endereço deve conter no mínimo 5 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="cadastro-cep">Número:</label>
                        <input type="text" class="form-control" id="cadastro-numero"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].dsComplemento" #dsComplemento="ngModel"
                            name="dsComplemento" required minlength="1" maxlength="30">
                        <div *ngIf="dsComplemento.errors && (dsComplemento.touched)" class="alert alert-light">
                            <div [hidden]="!dsComplemento.errors.required">
                                O campo número é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="cadastro-bairro">Bairro:</label>
                        <input type="text" class="form-control" id="cadastro-bairro"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].dsBairro" #dsBairro="ngModel"
                            name="dsBairro" required minlength="5" maxlength="30">
                        <div *ngIf="dsBairro.errors && (dsBairro.touched)" class="alert alert-light">
                            <div [hidden]="!dsBairro.errors.required">
                                O campo bairro é obrigatório.
                            </div>
                            <div [hidden]="!dsBairro.errors.minlength">
                                O campo bairro deve conter no mínimo 5 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cadastro-estado">Estado:</label>
                        <select class="form-control" id="cadastro-estado"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].cidade.uf.idUf" #idUf="ngModel" name="idUf"
                            (change)="getCidadesByUf()">
                            <option *ngFor="let uf of responseFormularioMeusDados.ufs" [value]="uf.idUf">
                                {{uf.dsUf}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="cadastro-cidade">Cidade:</label>
                        <select class="form-control" id="cadastro-cidade"
                            [(ngModel)]="outputCliente.usuario.enderecos[0].cidade.idCidade" name="idCidade">
                            <option *ngFor="let cidade of responseCidadesByUf" [value]="cidade.idCidade"
                                [selected]="cidade.idCidade == outputCliente.usuario.enderecos[0].cidade.idCidade">
                                {{cidade.dsCidade}}</option>
                        </select>
                    </div>
                </div>
                <hr>

                <div class="form-row">
                    <div class="form-group col-md-6" id="altera-foto">
                        <img id="img-perfil" src="assets/grupo1/img/icon_login.png">
                        <button type="button" class="btn botao-altera-foto" (click)="open(modalFotoCliente)"
                            data-toggle="modal" data-target=".bd-foto-perfil-modal-lg">Alterar Foto</button>
                    </div>
                    <div class="form altera-senha">
                        <label>Alterar a Senha:</label>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="cadastro-senha">Senha atual:</label>
                                <input type="password" class="form-control" id="cadastro-senha"
                                    [(ngModel)]="outputCliente.loginUsuario.dsSenha" #dsSenha="ngModel" name="dsSenha"
                                    placeholder="Digite a senha" (change)="conferirSenha()">
                                <div *ngIf="dsSenha.touched && confirmacao.mensagem!='' " class="alert">
                                    {{confirmacao.mensagem}}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cadastro-senha-nova">Nova senha:</label>
                                <input type="password" class="form-control" id="cadastro-senha-nova"
                                    [(ngModel)]="confirmacao.senhaNova" placeholder="Digite a senha" name="dsSenhaNova"
                                    #dsSenhaNova="ngModel">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cadastro-senha-nova2">Repita a nova senha:</label>
                                <input type="password" class="form-control" id="cadastro-senha-nova2"
                                    placeholder="Digite a senha" name="senhaConfirmacao" #senhaConfirmacao="ngModel"
                                    [(ngModel)]="confirmacao.senhaConfirmacao">
                                <div *ngIf="senhaConfirmacao.value != dsSenhaNova.value"
                                    class="alert alert-light mt-1 justify-content-right" role="alert">
                                    A senha não confere!
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </form>
            <hr>

            <h6>Planos:</h6>

            <div class="modal-body">
                <div class="card-deck">
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/BASIC.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Basic</h5>
                            <!-- <div *ngFor="let servico ">

                            </div> -->
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <div><button class="btn  btn-card" [id]="planos.plano1"
                                [disabled]="planos.plano1 == this.outputCliente.contrato.plano.idPlano"
                                (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
                    </div>
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/PLUS.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Plus</h5>
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                            <p class="card-text">Consulta com o Clínico Geral</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <div><button type="button" class="btn btn-card" [id]="planos.plano2"
                                [disabled]="planos.plano2 == this.outputCliente.contrato.plano.idPlano"
                                (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
                    </div>
                    <div class="card">
                        <img class="img-card" src="assets/grupo1/img/PREMIUM.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Plano Premium</h5>
                            <p class="card-text">Agendamento de Serviços Farmacêuticos</p>
                            <p class="card-text">Consulta com o Clínico Gera</p>
                            <p class="card-text">Consulta com Especialistas</p>
                            <p class="card-text">Programa Nutricional</p>
                        </div>
                        <div>
                            <h5 class="alinhamento">R$ 00,00</h5>
                        </div>
                        <div><button type="button" class="btn btn-card" [id]="planos.plano3"
                                [disabled]="planos.plano3 == this.outputCliente.contrato.plano.idPlano"
                                (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
                    </div>
                    <!-- (click)="open(modalCartaoCliente) -->
                </div>
            </div>

            <!-- MODAL CARTAO -->
            <ng-template #modalCartaoCliente class="modal-dialog modal-lg" let-c="close" let-d="dismiss" let-modal>
                <div class="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form #formCartao="ngForm">
                                <div class="modal-header">
                                    <h5 class="modal-title modal-basic-title">Dados do Cartão:</h5>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 cadastro-cartao">
                                        <label for="cartao-numero">Número do Cartão:</label>
                                        <input type="text" class="form-control" id="cartao-numero" name="nrCartao"
                                            [(ngModel)]="outputCliente.cartao.nrCartao" #nrCartao="ngModel"
                                            minlength="16" required placeholder="0000 0000 0000 0000">
                                        <div *ngIf="nrCartao.errors && (nrCartao.dirty || nrCartao.touched)"
                                            class="alert alert-light">
                                            <div [hidden]="!nrCartao.errors.required">
                                                Insira o número do cartão.
                                            </div>
                                            <div [hidden]="!nrCartao.errors.minlength">
                                                Número de cartão inválido.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="cartao-nome">Nome impresso no Cartão:</label>
                                        <input type="text" class="form-control" id="cartao-nome" name="nmNome"
                                            [(ngModel)]="outputCliente.cartao.nmNome" #nmNome="ngModel" minlength="10"
                                            required placeholder="Nome impresso no Cartão">
                                        <div *ngIf="nmNome.errors && (nmNome.dirty || nmNome.touched)"
                                            class="alert alert-light">
                                            <div [hidden]="!nmNome.errors.required">
                                                Campo nome é obrigatório.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row ">
                                    <div class="form-group col-md-5">
                                        <label for="cartao-vencimento">Data de vencimento:</label>
                                        <div class="vencimento-cartao">
                                            <input type="date" class="form-control" id="dtValidade"
                                                placeholder="00/0000" [(ngModel)]="outputCliente.cartao.dtValidade"
                                                name="dtValidade" #dtValidade="ngModel" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label for="cartao-codigo-seguranca">Código de segurança do cartão:</label>
                                        <input type="text" class="form-control" id="cartao-codigo-seguranca"
                                            placeholder="CVV" [(ngModel)]="outputCliente.cartao.codSeguranca"
                                            name="codSeguranca" #codSeguranca="ngModel" minlength="3" required>
                                    </div>
                                </div>

                                <button type="button" class="btn btns-cadastro btn-espaco" (click)="d('Cross click')"
                                    [disabled]="formCartao.invalid">Confirmar</button>
                                <button type="button" class="btn btns-cadastro btn-espaco"
                                    (click)="limparCartao()">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- MODAL FOTO -->
            <ng-template #modalFotoCliente class="modal-dialog modal-lg" let-c="close" let-d="dismiss">

                <div class="bd-foto-perfil-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Escolha uma foto para o seu perfil:</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <!-- <input type="file" class="form-control-file" id="alteraFotoCliente"
                                        name="alteraFotoCliente" [(ngModel)]="dsEndImg" #dsEndImg="ngModel"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <div class="form-group botoes-cadastro">
                <button type="button" class="btn btns-cadastro btn-espaco" (click)="alterarDadosCliente()"
                    [disabled]="formDadosCliente.invalid">Alterar</button>
                <button routerLink="/" class="btn btn-cancelar btn-espaco">Cancelar</button>
            </div>
        </form>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>