
/* pagina inteira */
.pagPag {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.banner {
    background-image: url(/assets/img/banner.jpg);
    background-size: contain;
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
  }


/* container esquerdo */
.containerEsq {
    margin: 10px;
    width: 60%;
}


.dadosCC {
    background-color:hsla(147, 19%, 55%, 0.5);
    border-radius: 5px;
}

.formDadosCC {
    width: 99%;
    padding: 15px;
}

/* container direito */
.containerDir {
    margin: 10px;
    align-self: center;
}


.dadosPedido td {
    color: #887d73;
    font-size: 1rem;
}


.total {
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-outline-success{
    color: white;  
    text-decoration: none;
    background-color: #2a764a;
    border: #2a764a;
}

.form-check-input {
    cursor: pointer;
}

form {
    margin-bottom: 1rem;
}

