
<div class="container">
    
    <!-- Escolha de forma de pagamento -->
    <section class="pagPag">
        <div class="banner"></div>
        <div class="containerEsq">
            <!-- <div class="formaPag">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="formaPagamento" id="pagar-Local" value="option1">
                    <label class="form-check-label" for="pagar-Local">
                      Pagar no local
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="formaPagamento" id="pagar-CC" value="option2">
                    <label class="form-check-label" for="pagar-CC">
                      Pagar com cartão de crédito
                    </label>
                </div>
            </div> -->

            <h5>Inserir os dados do cartão: </h5>
            <br>
            <!-- Dados do cartão de crédito -->
            <div class="dadosCC">
                <form class="formDadosCC">
                <!-- linha 1 - Número do cartão -->
                <div class="form-row">
                  <div class="form-group col-12">
                    <label for="numeroCC">Número do cartão*</label>
                    <input [(ngModel)]="nrCartao" name="nrCartao" type="text" class="form-control" id="nrCartao" placeholder="5555 5555 5555 5555" required>
                  </div>
                </div>

                <!-- linha 2 - Nome do titular -->
                <div class="form-row">
                    <div class="form-group col-12">
                      <label for="nomeTitular">Nome do titular do cartão*</label>
                      <input [(ngModel)]= "nmTitular" name="nmTitular" type="text" class="form-control" id="nmTitular" placeholder="Digite o nome como gravado no cartão" required>
                    </div>
                </div>
                <!-- linha 3 - Data de vencimento e código de segurança -->
                <div class="form-row">                  
                    <div class="form-group col-12 col-lg-4">
                        <label for="dtVencMes">Mês de vencimento*</label>
                        <select [(ngModel)]="mesVencimento" name="mesVencimento" id="dtVencMes" class="form-control" required>
                            <option selected  value="undefined">Mês</option>
                            <option [ngValue]="01">01 - janeiro</option>
                            <option [ngValue]="02">02 - fevereiro</option>
                            <option [ngValue]="03">03 - março</option>
                            <option [ngValue]="04">04 - abril</option>
                            <option [ngValue]="05">05 - maio</option>
                            <option [ngValue]="06">06 - junho</option>
                            <option [ngValue]="07">07 - julho</option>
                            <option [ngValue]="08">08 - agosto</option>
                            <option [ngValue]="09">09 - setembro</option>
                            <option [ngValue]="10">10 - outubro</option>
                            <option [ngValue]="11">11 - novembro</option>
                            <option [ngValue]="12">12 - dezembro</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-lg-4">
                        <label for="dtVencAno">Ano de vencimento*</label>
                        <select [(ngModel)]="anoVencimento" name="anoVencimento"  id="dtVencAno" class="form-control" required>
                            <option selected value="undefined">Ano</option>
                            <option [ngValue]="2021">2021</option>
                            <option [ngValue]="2022">2022</option>
                            <option [ngValue]="2023">2023</option>
                            <option [ngValue]="2024">2024</option>
                            <option [ngValue]="2025">2025</option>
                            <option [ngValue]="2026">2026</option>
                            <option [ngValue]="2027">2027</option>
                            <option [ngValue]="2028">2028</option>
                            <option [ngValue]="2029">2029</option>
                            <option [ngValue]="2030">2030</option>
                        </select>                
                    </div>
                    <div class="form-group col-12 col-lg-4">
                            <label for="codSegCC">CVV*</label>
                            <input  [(ngModel)]="cvv" name="cvv" type="text" class="form-control" id="codSegCC" placeholder="000" required>
                    </div>
                </div>
                            
            
                    <!-- linha 4 - Números de parcelas -->
                    <div class="form-row">
                        <div class="form-group col-12">
                          <label for="numParcelas">Opções de parcelamento*</label>
                            <select [(ngModel)]="qtdParcelas" name="qtdParcelas" id="numParcelas" class="form-control">
                                <option selected>Escolha o número de parcelas</option>
                                <option [ngValue]="1">1</option>
                                <option [ngValue]="2">2</option>
                                <option [ngValue]="3">3</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>            
        </div>
       
        <div class="containerDir">
            <h4 class="resumoPedido text-center">Resumo do pedido</h4>
            <div class="tabelaPedido">
                <br>

                <table class="table">
                    <tr class="cabecalho ">
                        <th class="produto text-center">SERVIÇO</th>
                        <th class="preco text-center">VALOR</th>
                    </tr>
                    <tr class="dadosPedido" *ngFor="let servico of servicos">
                        <td class="text-left">{{servico.nome}}</td>
                        <td class="text-right">{{servico.preco | currency: 'BRL': true}}</td>
                    </tr>
                </table>
                
                <table class="table">
                    <tr>
                        <th colspan="2" class="total">Total</th>
                        <td class="total text-right">{{total | currency: 'BRL': true}}</td>
                    </tr>
                </table>
                <div class="btnConcluir">
                    <div class="col text-center">
                    <button type="submit" class="btn btn-outline-success btn-lg" (click)="registrarPedido()">Finalizar pagamento</button>
                    </div>
                </div>
            </div>
        </div>
    </section>   

</div>
