<div class="container">

    <section>
        <div class="banner"></div>
        <div class="container2">
            <div class="d-flex justify-content-center">

                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="card">
                        <h2>Agenda Alimentação</h2>
                        <div class="form-group col-md-12">
                            <label for="inputEscolhaDia"></label>
                            <select id="inputEscolhaDia" class="form-control">
                                <option selected>Selecione o dia da semana</option>
                                <option selected>Segunda-feira</option>
                                <option selected>Terça-feira</option>
                                <option selected>Quarta-feira</option>
                                <option selected>Quinta-feira</option>
                                <option selected>Sexta-feira</option>
                                <option selected>Sábado-feira</option>
                                <option selected>Domingo</option>
                            </select>

                            <div class="row pt-3 ">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Café da Manhã
                                        </div>
                                        <div class="col-5">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class="l-abrir-refeicao" for="abrir-refeicoes-cafe">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-cafe">

                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Panqueca de
                                                banana</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Panqueca de
                                                Morango</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row pt-3 ">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Lanche da Manhã
                                        </div>
                                        <div class="col-5" id="horario">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class="abrir-refeicoes-lanche-manha" for="abrir-refeicoes-lanche-manha">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-lanche-manha">
                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Tapioca</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Pão com peito
                                                de peru</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Almoço
                                        </div>
                                        <div class="col-5">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class = "abrir-refeicoes-almoco" for="abrir-refeicoes-almoco">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-almoco">
                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Panqueca de
                                                banana</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Panqueca de
                                                Morango</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Lanche da Tarde
                                        </div>
                                        <div class="col-5">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class = "abrir-refeicoes-lanche-tarde" for="abrir-refeicoes-lanche-tarde">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-lanche-tarde">
                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Panqueca de
                                                banana</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Panqueca de
                                                Morango</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row pt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Jantar
                                        </div>
                                        <div class="col-5">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class = "abrir-refeicoes-jantar" for="abrir-refeicoes-jantar">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-jantar">
                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Panqueca de
                                                banana</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Panqueca de
                                                Morango</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-3">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            Ceia
                                        </div>
                                        <div class="col-5">
                                            Horário
                                            <input type="time">
                                        </div>
                                        <div class="col-1">
                                            <label class = "abrir-refeicoes-ceia" for="abrir-refeicoes-ceia">></label>
                                        </div>
                                    </div>
                                    <input type="checkbox" id="abrir-refeicoes-ceia">
                                    <div class="row refeicoes pl-15">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">Panqueca de
                                                banana</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline2">Panqueca de
                                                Morango</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                    
                                <button type="submit" class="btn btn-primary">Imprimir</button>
                      

                        </div>
                    </div>
                </div>

            </div>
        </div>
        

    </section>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</div>

