<body>
    <div class="container mt-3 mb-3">
        <div class="row d-flex justify-content-between">
            <div class="ml-5">
                <img src="assets/img-grupo4/logo-menu.png">
            </div>
            <div class="align-self-center">
                <img src="assets/img-grupo4/baseline_exit_to_app_black_18dp.png">
            </div>
        </div>       
    </div>

    <div class="container-fluid container-background">
        <div class="container">
            <div class="container container-box">
                <div class="box-central col-md-4">
                    <h3 class="titulo-verde text-center">Login Área Médica</h3>
                    <form id="id-form" name="formulario" #formLogin="ngForm" (change)="ver()">
                        <div class="form-group mt-2">
                            <label for="login-email-med" class="label-form">Email</label>
                            <input type="text" class="form-control style-input" id="login-email" name="dsEmail" [(ngModel)]="loginCliente.dsEmail" #dsEmail="ngModel" placeholder="Digite seu email" required>
                        </div>

                        <div class="form-group">
                            <label for="login-email-med" class="label-form">Senha</label>
                            <input type="text" class="form-control style-input" id="login-senha" name="dsSenha" [(ngModel)]="loginCliente.dsSenha" #dsSenha="ngModel" placeholder="Digite sua senha" required>
                        </div>
                        <button type="submit" class="btn col-md-12 btn-verde mt-4" (click)="logarCliente()">Entrar</button>
                    </form>
                    <p class="text-center mb-3 mt-2" (click)="open(modalSenha)"><a class="nav-link" href="#" data-toggle="modal"
                        data-target=".bd-example-modal-lg">Esqueceu sua senha?</a></p>
                    <div class="box-line my-2"></div>
                    <p class="text-center mt-3">Ainda não possui cadastro?</p>
                    <button type="submit" class="btn btn-verde" routerLink = "/cadastro/medico">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="assets/img-grupo4/logo-footer.png"></div>
            <div class="col-md-2">
                <h4>MAPA DO SITE</h4>
                <ul class="nav flex-column rodape">
                    <li class="nav-item"><a class="nav-link" href="#">Planos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sustentabilidade</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Serviços</a></li>
                    </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h4>SOCIAL MIDIA</h4>   
                <ul class="nav flex-column rodape">
                    <li class="nav-item"><img src="assets/img-grupo4/logo-facebook.png"><a class="nav-link" href="#">Facebook</a></li>
                    <li class="nav-item"><img src="assets/img-grupo4/logo-linkedin.png"><a class="nav-link" href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>

<!-- MODAL -->
<!-- MODAL -->
<ng-template #modalSenha class="modal-dialog modal-lg"  let-c="close" let-d="dismiss">

    <div class="modal-content">
        <form  #formLembretes="ngForm">
            <div class="modal-header">
                <div class="form-group col-md-12 esqueci-senha">
                    <label for="emailRec">Digite o e-mail cadastrado:</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div>
                            <input type="text" class="form-control" id="emailRec" name="emailRec"
                            placeholder="digite o seu e-mail" [(ngModel)]="loginCliente.dsEmail" #emailRec="ngModel"
                            required (change)="ver()">
                        <button class="btn btn-verde" (click)="esqueceuSenha()"><a
                                >Enviar</a></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
   
</body>