<app-header *ngIf="!ehLogado"></app-header>
<app-header-logado *ngIf="ehLogado"></app-header-logado>
<div *ngIf="ehLogado == false">
    
</div>
<div class="container" *ngIf="ehLogado">

    <div class="banner"></div>

    <section>
        <form>
            <div class="row">
                <h1 class="titulo-cor p-15">Agendamento de Serviços</h1>
            </div>

            <div class="row">
                <div class="form-group col-12 col-lg-8 pt-3">
                    <label for="servico"><h5>1. Escolha o serviço</h5></label>
                    <select class="form-control" type="text" id="servico" [(ngModel)]="idServico" name="servico" required>
                        <option selected value="undefined">Escolha a opção</option>
                        <option  *ngFor = "let servico of responseServicos" [ngValue]="servico.id">{{servico.nome}} - R${{servico.preco}},00</option>
                    </select>
                    <div style="display: none;" class="alert alert-danger alert-servico" role="alert">
                        Campo Obrigatório
                    </div>
                </div>
            </div> 

            <div class="row align-items-end">
                <div class="form-group col-10 col-lg-8 pt-3">
                    <label for="local"><h5>2. Selecione a localidade</h5></label>
                    <input class="form-control" type="text" id="local" [(ngModel)]="local" name ="local" placeholder="Busque por rua, bairro ou cidade" required> 
                </div>
                <div class="form-group col-2 col-lg-4 pt-3">
                    
                    <button type="button" class="btn btn-success btn-verde" id="btn-ok" (click)="buscarLojaPorLocal()">
                        <label for="mostrar_lojas" class="sem-margin">OK</label>
                    </button>
                </div>
            </div>

            <!-- cards com endereços encontrados -->

            <div class="row justify-content-center spinner-grow text-muted">
                <i *ngIf="spinResponseLojas" class="fa fa-spinner fa-spin"></i>
            </div>
          
            <div class="row">
                <div class="form-group col-12 col-lg-4 pt-3 ml-1" *ngFor = "let loja of responseLojas">
                    <div class="card"  style="width: 18rem; height: 13rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{loja.nmLoja}} </h5>
                        <p class="card-text" *ngFor= "let endereco of loja.enderecos"> {{endereco.dsEndereco}}, Bairro: {{endereco.dsBairro}} - CEP: {{endereco.nrCep}} - {{endereco.cidade.dsCidade}}  - {{endereco.cidade.uf.dsUf}} </p>
                        <h6 class="card-subtitle mb-2 text-muted" *ngFor= "let contato of loja.contatos">{{contato.nrDdd}} {{contato.dsContato}}</h6>
                        <button type="button" class="btn btn-success btn-verde btn-seleciona" (click)="getLoja(loja.idLoja)">Selecione</button>
                        </div>
                    </div>
                </div>
            </div> 

             <!-- /cards com endereços encontrados -->
            <div *ngIf = "exibir2 == true"> <!--DIV DO EXIBIR PARTE 3-->
            <div class="row p-15 pt-5">
                <h5>3. Selecione data e horário</h5>
            </div>
            
            <div class="row p-15">
                <div class="form-group col-12 col-lg-5 pt-3 calendario" style="height: 370px;">
                    <div class="containerx">
                        
                        <a (click)="getHorasIndisponiveis('2021-03-05')"> <img class="img-fluid "
                            src="/assets/img/calendar.png">
                        </a>
                        <!--<div class="calendar">
                          
                        </div> -->
                    </div>
                </div>

                

               <!-- <button type="button" class="btn btn-success btn-verde btn-seleciona"  (click)="getHorasIndisponiveis('2021-02-02')">CLIQUE AQUI</button>
               -->
                
                <div class="form-group col-12 col-lg-5 offset-md-1 pt-3">

                    <div class="row justify-content-center spinner-grow text-muted">
                        <i *ngIf="spinResponseHoras" class="fa fa-spinner fa-spin"></i>
                    </div>

                    <div class="row p-15" style="background-color: white;" *ngIf = "exibir == true">
                        <h5>Sexta-feira, 5 de março de 2021</h5>
                    </div>
                    
                    <div class="form-group col-12 col-lg-12 pt-3 border rounded" *ngIf = "exibir == true"  style="background-color: rgb(247, 245, 245);">
                        <div class="row justify-content-start pt-2 pl-2 pr-2"><p>Manhã</p></div>
                        <div class="row justify-content-around pt-1 pl-2 pr-2">                            
                            <button *ngFor = "let hora of hrManhaExibir" type="button" class="btn btn-success btn-verde" (click)="getHora(hora)">{{hora}}</button>
                        </div>
                    
                        <div class="row justify-content-start pt-2 pl-2 pr-2"><p>Tarde</p></div>
                        <div class="row justify-content-around pt-1 pl-2 pr-2">
                            <button *ngFor = "let hora of hrTardeExibir" type="button" class="btn btn-success btn-verde" (click)="getHora(hora)">{{hora}}</button>
                        </div>
                    
                        <div class="row justify-content-start pt-2 pl-2 pr-2"><p>Noite</p></div>
                        <div class="row justify-content-around pt-1 pl-2 pr-2">
                            <button *ngFor = "let hora of hrNoiteExibir" type="button" class="btn btn-success btn-verde" (click)="getHora(hora)">{{hora}}</button>
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
            <br><br><br>
             <!-- Button trigger modal -->
            <div class="row d-flex justify-content-center p-15">
                <br>
                <button type="button" class="btn btn-success btn-verde btn-lg" (click)="open(content)" id="btn-confirma" data-toggle="modal" data-target="#exampleModal">Confirmar</button>
            </div>
            <br><br>

            <!-- Modal -->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Confirmar agendamento</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Deseja agendar outro serviço?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" (click)="novoAgServico(d)">Agendar outro</button>
                  <button type="button" class="btn btn-outline-dark" (click)="concluirAgServico(d)">Concluir</button>
                </div>
            </ng-template>

        </div> <!--FIM DA DIV DO EXIBIR PARTE 3-->
              
        </form>    

        <div style="height: 100px;"></div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./js/jquery.mask.js"></script>
    <script src="./js/app.js"></script>
  </div>
  <app-footer></app-footer>