<!-- Modal Lembretes -->
<div class="bd-lembrete-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #formLembretes="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title"> Criar Lembrete</h5>
                    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>

                <div class="form-group col-12">
                    <div class="row mt-1">
                        <div class="col-12">
                            <label for="nmTitulo">Título</label>
                            <input type="text" class="form-control" id="nmTitulo" name="nmTitulo"
                                [(ngModel)]="lembrete.nmTitulo" #nmTitulo="ngModel" minlength="5" required
                                placeholder="Título do Lembrete">
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-12">
                            <label for="dsLembrete">Descrição</label>
                            <input type="text" class="form-control" id="dsLembrete" name="dsLembrete"
                                [(ngModel)]="lembrete.dsLembrete" #dsLembrete="ngModel" minlength="5" required
                                placeholder="Descrição do Lembrete">
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-12 col-lg-6">
                            <label>Data:</label>
                            <input type="date" class="form-control" id="dtLembrete" name="dtLembrete"
                                [(ngModel)]="lembrete.dtLembrete" #dtLembrete="ngModel" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label>Hora:</label>
                            <input type="time" class="form-control" id="hrHora" name="hrHora"
                                [(ngModel)]="lembrete.hrHora" #hrHora="ngModel" required>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-12 col-lg-6">
                            <label>Repete a cada:</label>
                            <input type="number" class="form-control" placeholder="1" min="0" id="nrRepeticao"
                                name="nrRepeticao" [(ngModel)]="lembrete.nrRepeticao" #nrRepeticao="ngModel" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label>Intervalo:</label>
                            <select class="form-control">
                                <option *ngFor="let lembreteIntervalo of responseLembreteIntervalos">
                                    {{lembreteIntervalo.dsLembreteIntervalo}}</option>
                            </select>
                        </div>
                    </div>
                </div>




                <div class="modal-footer">
                    <button type="button" class="btn btn_salvar">Criar Lembrete</button>
                </div>
            </form>
        </div>
    </div>
</div>