<header>
    <!-- NAVBAR COM CONTAINER-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a routerLink="/"><img src="assets/grupo1/img/logo-menu.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation" (click) = "toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
            [ngClass] = "{'show': navbarOpen}" id="navbarSupportedContent">
                <div class="col-lg-7 col-md-9 col-sm-9 col-xs-4 item-menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/planos#card-planos">Planos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sustentabilidade</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#servicos">Serviços</a></li>
                    </ul>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-4 col-sm-4 col-xs-4">
                    <div class="text-center">Login</div>
                    <div>
                        <button routerLink="/login-cliente" class="btn btn-menu" >Paciente</button>
                        <button routerLink="/login/medico" class="btn btn-menu">Médico</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>
