
   <section>
        <div class="container">
            <h4 class="text-center titulo">Acompanhe aqui as informações do seu perfil.</h4>
            <div class="row images" id="ads">
                <!-- Category Card -->
                <div class="col-md-3 col-sm-6 col-12  p-2">
                    <div class="card rounded ">
                        <div class="card-image">
                            <img class="img-fluid rounded mx-auto d-block p-3" src="/assets/grupo1/img/consulta.png"
                                alt="Icon Consulta" />
                            <p class="text-card text-center">Acompanhe aqui as <br>suas consultas</p>
                        </div>
                        <div class="card-image-overlay m-auto p-3">
                            <a class="ad-btn " routerLink="#">Consultas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12  p-2">
                    <div class="card rounded">
                        <div class="card-image">
                            <img class="img-fluid rounded mx-auto d-block p-3" src="/assets/grupo1/img/exames.png"
                                alt="Icon exame" />
                            <p class="text-card">Veja solicitações<br> de exames</p>
                        </div>
                        <div class="card-image-overlay m-auto p-3">
                            <a class="ad-btn" routerLink="#">Exames</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 p-2">
                    <div class="card rounded ">
                        <div class="card-image">
                            <img class="img-fluid rounded mx-auto d-block p-3" src="/assets/grupo1/img/profile.png"
                                alt="icon profile" />
                            <p class="text-card">Consulte ou atualize <br> os seus dados</p>
                        </div>
                        <div class="card-image-overlay m-auto p-3">
                            <a class="ad-btn" routerLink="/dados-cliente">Meus Dados</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12 p-2">
                    <div class="card rounded">
                        <div class="card-image">
                            <img class="img-fluid rounded mx-auto d-block p-3" src="/assets/grupo1/img/nutrition.png"
                                alt="Icon Nutrition" />
                            <p class="text-card">Acompanhe o seu <br>plano nutricional</p>
                        </div>
                        <div class="card-image-overlay m-auto p-3">

                            <a class="ad-btn" href="#">Plano Nutricional</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Categoria Lembretes -->
            <div class="col-12">
                <div class="row lembretes-plano">
                    <div class="col-md-6 col-sm-12 col-12 p-3">
                        <div class="todo__container ">
                            <h1 class="todo__title text-center p-2">Lembretes </h1>
                            <div class="card rounded ">
                                <div class="card-image-overlay  ">
                                        <div class="text-btn ">

                                            <!-- BOTAO NOVO LEMBRETE -->
                                            <button type="button" value="" class="todo-form__btn btn" id="todoSubmit"
                                                data-toggle="modal" data-target=".bd-lembrete-modal-lg">Novo lembrete<img
                                                src="/assets/grupo1/img/add.png"    class=" fa-plus pr-2"/></button>
                                        </div>
                                    <div class="todo__tarefas" id="todoTarefas">
                                        <ul class="todo__tarefas-lista" id="todoLista">
                                            <li class="item-lista">
                                                <p class="titulo_lembrete">Medicamento Controlado</p>
                                                <p class="excluir ">Descrição: Tomar comprimido de novalgina<span
                                                        class="todo__btn-excluir">X</span></p>
                                                <p class="excluir font-weight-bold">Data: 22/12/2020 - Hora:15:00
                                                </p>
                                                <p>Intervalo: A cada 8h.</p>
                                            </li>
                                            <li class="item-lista">
                                                <p class="titulo_lembrete">Buscar Exames</p>
                                                <p class="excluir ">Descrição: Buscar exames no laboratório <span
                                                        class="todo__btn-excluir">X</span></p>
                                                <p class="excluir font-weight-bold">Data: 22/12/2020 - Hora:15:00
                                                </p>

                                            </li>
                                            <li class="item-lista">
                                                <p class="titulo_lembrete">Eletrocardiograma</p>
                                                <p class="excluir ">Descrição: Fazer o eletro no laboratório <span
                                                        class="todo__btn-excluir">X</span></p>
                                                <p class="excluir font-weight-bold"> Data: 22/12/2020 - Hora:15:00
                                                </p>

                                            </li>
                                        </ul>
                                            <p class="mais_lembretes text-center"><a routerLink="/lista-lembretes">Carregar mais
                                                lembretes</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Categoria meu Plano -->
                    <div class="col-md-4 col-sm-12 col-12 p-3 ">
                        <h1 class="todo__title text-center p-2">Meu Plano Atual </h1>
                        <div class="card rounded ">
                            <div class="card-image-overlay  p-3">
                                <img class="image_plano" src="assets/grupo1/img/premium (2).png" />
                                <ul class="ad-btn text-left">
                                    <li>- Serviços Farmacêuticos</li>
                                    <li>- Consulta com o Clínico Geral</li>
                                    <li>- Consulta com Especialistas</li>
                                    <li>- Programa Nutricional</li>
                                </ul>
                                <div class="success">
                                    <a routerLink="/planos"><button type="button" class="btn btn-plano"> Mudar
                                            Plano</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- Modal Lembretes -->
                <div class="modal fade bd-lembrete-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h5 class="modal-title"> Criar Lembrete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="form-group col-12">
                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <label for="formGroupExampleInput">Título</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput"
                                                placeholder="Título do Lembrete" required>
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-12">
                                            <label for="formGroupExampleInput">Descrição</label>
                                            <input type="text" class="form-control" id="formGroupExampleInput"
                                                placeholder="Descrição do Lembrete">
                                        </div>
                                    </div>

                                    <div class="row mt-1">
                                        <div class="col-12 col-lg-3">
                                            <label>Data:</label>
                                            <input type="date" class="form-control" placeholder="Data">
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <label>Hora:</label>
                                            <input type="time" class="form-control" placeholder="horário">
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <label>Repete a cada:</label>
                                            <input type="number" class="form-control" placeholder="1" min="0">
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <label>Intervalo:</label>
                                            <select class="form-control">
                                                <option>Dias</option>
                                                <option>Horas</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn_salvar">Criar Lembrete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    
    </section>
    