
<body class="container-fluid">
    <section class="container planos">
        <h1>PLANOS</h1>
        <br>
        <div class="card-deck" class="planos">
            <div class="card" class="col-12 col-sm-6 col-md-6 col-lg-3">
                <img class="card-img-top" src="assets/grupo1/img/BASIC.png" alt="Plano Basic">
                <div class="card-body">
                    <ul class="card-text" type="none">
                        <li>- Agendamento de Serviços Farmacêuticos</li>

                    </ul>
                    <h5>GRATUITO</h5>

                    <button class="btn btn-menu" class="planos" disabled>Incluso</button>
                </div>
            </div>
            <div class="card" class="col-12 col-sm-6 col-md-6 col-lg-3">
                <img class="card-img-top" src="assets/grupo1/img/PLUS.png" alt="Plano Plus">
                <div class="card-body">
                    <ul class="card-text" type="none">
                        <li>- Agendamento de Serviços Farmacêuticos</li>
                        <li>- Consulta com o Clínico Geral</li>
                    </ul>
                    <h5>R$ 00,00</h5>

                    <button class="btn btn-menu btn-planos">
                        <a href="../dados-cliente/dados-cliente.html#planos-dados">
                            Assinar
                        </a>
                    </button>
                </div>
            </div>
            <div class="card" class="col-12 col-sm-6 col-md-6 col-lg-3" class="planos">
                <img class="card-img-top" src="assets/grupo1/img/PREMIUM.png" alt="Plano Premium">
                <div class="card-body">
                    <ul class="card-text" type="none">
                        <li>- Agendamento de Serviços Farmacêuticos</li>
                        <li>- Consulta com o Clínico Geral</li>
                        <li>- Consulta com Especialistas</li>
                        <li>- Programa Nutricional</li>
                    </ul>
                    <h5>R$ 00,00</h5>
                    <button class="btn btn-menu btn-planos">
                        <a href="../dados-cliente/dados-cliente.html#planos-dados">
                            Assinar
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
  
</body>

