<header>
    <!-- NAVBAR COM CONTAINER -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a routerLink="/"><img src="../img/logo-menu.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse item-menu" id="navbarSupportedContent">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-4 ">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="../planos/planos.html">Planos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sustentabilidade</a></li>
                        <li class="nav-item"><a class="nav-link" href="../portal/portal.html">Serviços</a></li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" id="img-login">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div>
                            <p id="txt-login">Olá Laura</p>
                        </div>
                        <div class="botao-sair">
                            <a href="../portal/portal.html"><button class="btn btn-sm">Sair</button></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <img src="../img/icon_login.png">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

