<app-header *ngIf="!ehLogado"></app-header>
<app-header-logado *ngIf="ehLogado"></app-header-logado>

<div class="container">

    <section>
        <div class="banner">
        </div>
        <div class="container3">
            <h3>Receitas</h3>
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <input class="form-control mr-sm-2 botao-pesquisar" id="botao-pesquisar" type="text"
                        placeholder="Buscar receita" name="ipt_busca" aria-label="Pesquisar" [(ngModel)]="iptBusca">
                    <a (click)="listarReceitas()"><img src="/assets/img-grupo3/search-icon.png" width="20px" height="20px"></a>
                </form>
            </nav>
        </div>

        <div class="container1 align-items-center">
            <div class="row">
                <div  class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('sopas')" > <img class="img-fluid mb-3 mt-3 ml-3"
                            src="/assets/img-grupo3/soup-1787997_640 (1).jpg">
                        <h4 class="opcao">SOPAS</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('saladas')"> <img class="img-fluid mb-3 mt-3 ml-2" src="/assets/img-grupo3/salad-374173_640.jpg">
                        <h4  class="opcao">SALADAS</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('peixes')"> <img class="img-fluid mb-3 mt-3" src="/assets/img-grupo3/salmon-1238248_640.jpg">
                        <h4  class="opcao">PEIXES</h4>
                    </a>
                </div>
         <!--   </div>
       </div>
        <div class="container2 align-items-center">
            <div class="row"> --> 
                <div class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('carnes')"><img class="img-fluid mb-3 mt-3 ml-3" src="/assets/img-grupo3/steak-2936531_640.jpg">
                        <h4  class="opcao">CARNES</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('aves')"> <img class="img-fluid mb-3 mt-3 ml-2" src="/assets/img-grupo3/food-1631727_640.jpg">
                        <h4 class="opcao">AVES</h4>
                    </a>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <a (click)="getCategoria('massas')"><img class="img-fluid mb-3 mt-3" src="/assets/img-grupo3/spaghetti-660748_640.jpg">
                        <h4  class="opcao">MASSAS</h4>
                    </a>
                </div>
            </div> 
        </div>
        <div style="height: 100px;"></div>
    </section>
</div>
<app-footer></app-footer>
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>-->

