<div class="container">

    <section>
        <div class="banner"></div>
        <div class="container2">
            <div class="d-flex justify-content-center">

                <div class="col-6 col-sm-6 col-lg-6">

                    <h2>Agenda Alimentação</h2>
                    
            <div class="row justify-content-center pt-5 spinner-grow text-muted">
                <i *ngIf="spinCarregando" class="fa fa-spinner fa-spin"></i>
            </div>
                    <div *ngIf="!spinCarregando"  class="row pl-3 pt-5">
                        <h5 *ngIf="responseCardapios.length == 0" class="sem-refeicoes">Não há refeições para esse usuário</h5>
                    </div>
                                       
                    <div class="container">
                        <div class="row justify-content-around">
                           <div *ngIf="!spinCarregando"  class="d-inline-flex p-2">
                                <div *ngFor="let cardapio of responseCardapios" class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title titulo-refeicao">{{cardapio.idTipoRefeicao.dsTipoRefeicao}}</h5>
                                        <p class="card-text nome-receita">{{cardapio.nomeReceita}}</p>
                                        <p class="card-text descricao-receita">Calorias: {{cardapio.qtCalorias}}</p>
                                        <p class="card-text descricao-receita">Descrição: {{cardapio.dsDescricao}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">Imprimir</button>
                    </div> -->

                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</div>