<footer>
    <div class="row">
      <div class="col-md-6"><img src="./assets/assets-grupo2/logo-footer.png"></div>
      <div class="col-md-3">
        <h4>MAPA DO SITE</h4>
        <ul class="nav flex-column rodape">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/planos">Planos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/agendamento-consultas">Agendamento de Consultas</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/minhas-consultas">Minhas Consultas</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>SOCIAL MEDIA</h4>   
          <ul class="nav flex-column rodape">
            <li class="nav-item"><img src="./assets/assets-grupo2/logo-facebook.png"><a class="nav-link" href="https://www.facebook.com/RDOficial/">Facebook</a></li>
            <li class="nav-item"><img src="./assets/assets-grupo2/logo-linkedin.png"><a class="nav-link" href="https://www.linkedin.com/company/rdoficial/mycompany/">Linkedin</a></li>
          </ul>
      </div>
    </div>    
  </footer>

