<app-header *ngIf="!ehLogado"></app-header>
<app-header-logado *ngIf="ehLogado"></app-header-logado>

<section class="container">
    <h2 class="text-center">Cadastro</h2>
    <h6>Dados de Acesso:</h6>
    <form (change)="ver()" #formCadastro="ngForm">
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="cadastro-email">Email:</label>
                <input type="email" class="form-control" id="cadastro-email" placeholder="Digite o seu e-mail"
                    [(ngModel)]="outputCliente.loginUsuario.dsEmail" #dsEmail="ngModel" name="dsEmail" required
                    pattern=^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$>
                <div *ngIf="dsEmail.errors && (dsEmail.dirty || dsEmail.touched)" class="alert alert-light mt-1"
                    role="alert">
                    O campo e-mail é obrigatório.
                </div>
                <div *ngIf="dsEmail.invalid && (dsEmail.dirty || dsEmail.touched)" class="alert alert-light mt-1"
                    role="alert">
                    Digite um e-mail válido
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="cadastro-senha">Senha:</label>
                <input type="password" class="form-control" id="cadastro-senha" placeholder="Digite a senha"
                    [(ngModel)]="outputCliente.loginUsuario.dsSenha" #dsSenha="ngModel" name="dsSenha" required>
                <div *ngIf="dsSenha.errors &&(dsSenha.dirty || dsSenha.touched)" class="alert alert-light mt-1"
                    role="alert">
                    Insira uma senha.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="cadastro-email2">Repita o Email:</label>
                <input type="email" class="form-control" id="cadastro-email2" placeholder="Digite o seu e-mail"
                    [(ngModel)]="confirmacao.emailConfirmacao" #emailConfirmacao="ngModel" name="emailConfirmacao"
                    required pattern=^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$>

                <div *ngIf="emailConfirmacao.value != dsEmail.value && (emailConfirmacao.dirty || emailConfirmacao.touched)"
                    class="alert alert-light mt-1" role="alert">
                    O email informado não confere!
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="cadastro-senha2">Repita a Senha:</label>
                <input type="password" class="form-control" id="cadastro-senha2" placeholder="Digite a senha"
                    name="senhaConfirmacao" #senhaConfirmacao="ngModel" [(ngModel)]="confirmacao.senhaConfirmacao"
                    required>
                <div *ngIf="senhaConfirmacao.value != dsSenha.value && (senhaConfirmacao.dirty || senhaConfirmacao.touched)"
                    class="alert alert-light mt-1" role="alert">
                    A senha informada não confere!
                </div>
            </div>
        </div>
        <hr>
        <h6>Dados Pessoais:</h6>

        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="cadastro-nome">Nome Completo:</label>
                <input type="text" class="form-control" id="cadastro-nome" placeholder="Digite o seu nome"
                    [(ngModel)]="outputCliente.usuario.nmNome" #nmNome="ngModel" name="nmNome" required>
                <div *ngIf="nmNome.errors && (nmNome.dirty || nmNome.touched)" class="alert alert-light">
                    <div [hidden]="!nmNome.errors.required">
                        O campo nome é obrigatório.
                    </div>
                    <div [hidden]="!nmNome.errors.minlength">
                        O campo nome deve conter no mínimo 3 caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="cadastro-sexo">Sexo:</label>
                <select class="form-control" id="cadastro-sexo" [(ngModel)]="outputCliente.usuario.idGenero"
                    #idGenero="ngModel" name="idGenero" required>
                    <option disabled selected>Selecione</option>
                    <option *ngFor="let genero of responseFormularioCadastro.genero" [value]="genero.idGenero">
                        {{genero.dsGenero}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="cadastro-cpf">CPF:</label>
                <input type="text" class="form-control" id="cadastro-cpf" placeholder="Digite o seu CPF"
                    [(ngModel)]="outputCliente.usuario.nrCpf" #nrCpf="ngModel" name="nrCpf" minlength="11"
                    maxlength="14" required mask="000.000.000-00">

                <div *ngIf="nrCpf.errors && (nrCpf.dirty || nrCpf.touched)" class="alert alert-light">
                    <div [hidden]="!nrCpf.errors.required">
                        O campo CPF é obrigatório.
                    </div>
                    <div [hidden]="!nrCpf.errors.minlength">
                        CPF deve conter no mínimo 11 caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="cadastro-ddd">DDD:</label>
                <input type="text" class="form-control" id="cadastro-ddd" required [(ngModel)]="outputCliente.ddd"
                    placeholder="(000)" name="ddd" #ddd="ngModel" minlegth="3" maxlength="3" mask="000">
                <div *ngIf="ddd.errors && (ddd.dirty || ddd.touched)" class="alert alert- light">
                    <div [hidden]="!celular.errors.required">
                        Informe o DDD
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="cadastro-celular">Celular:</label>
                <input type="text" class="form-control" id="cadastro-celular" placeholder="Digite o seu Celular"
                    [(ngModel)]="outputCliente.celular" #celular="ngModel" name="celular" minlength="9" maxlength="10"
                    required mask="00000-0000">
                <div *ngIf="celular.errors && (celular.dirty || celular.touched)" class="alert alert- light">
                    <div [hidden]="!celular.errors.required">
                        Informar telefone para contato.
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="cadastro-nascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" id="cadastro-nascimento" min="{{minDate | date: 'yyyy-MM-dd'}}"
                    max="{{maxDate | date: 'yyyy-MM-dd'}}" [(ngModel)]="outputCliente.usuario.dtNascimento"
                    #dtNascimento="ngModel" name="dtNascimento" required>
                <div *ngIf="dtNascimento.errors && (dtNascimento.touched)" class="alert alert-light">
                    <div [hidden]="!dtNascimento.errors.required">
                        O campo data de nascimento é obrigatório.
                    </div>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4" method="get" action=".">
                <label for="cadastro-cep">CEP:</label>
                <input type="text" class="form-control" id="cadastro-cep" placeholder="Digite o seu CEP" minlength="8"
                    maxlength="9" mask="00000-000" [(ngModel)]="outputCliente.usuario.enderecos[0].nrCep"
                    #nrCep="ngModel" name="nrCep" required (blur)="buscarEnderecoCep()">

            </div>
            <div class="form-group col-md-7">
                <label for="cadastro-endereco">Endereço:</label>
                <input type="text" class="form-control" id="cadastro-endereco" placeholder="Digite o seu endereço"
                    [(ngModel)]="outputCliente.usuario.enderecos[0].dsEndereco" #dsEndereco="ngModel" name="dsEndereco"
                    required>
            </div>
            <div class="form-group col-md-1">
                <label for="cadastro-cep">Número:</label>
                <input type="text" class="form-control" id="cadastro-numero" placeholder="Número"
                    [(ngModel)]="outputCliente.usuario.enderecos[0].dsComplemento" #dsComplemento="ngModel"
                    name="dsComplemento">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="cadastro-bairro">Bairro:</label>
                <input type="text" class="form-control" id="cadastro-bairro" placeholder="Digite o seu Bairro"
                    [(ngModel)]="outputCliente.usuario.enderecos[0].dsBairro" #dsBairro="ngModel" name="dsBairro"
                    required>
            </div>
            <div class="form-group col-md-2">
                <label for="cadastro-estado">Estado:</label>
                <select class="form-control" id="cadastro-estado" [(ngModel)]="outputCliente.usuario.enderecos[0].idUf"
                    #idUf="ngModel" name="idUf" (change)="getCidadesByUf()">
                    <option disabled selected>Selecione</option>
                    <option *ngFor="let uf of responseFormularioCadastro.ufs" [value]="uf.idUf">
                        {{uf.dsUf}}</option>
                </select>
            </div>
            <div class="form-group col-md-5">
                <label for="cadastro-cidade">Cidade:</label>
                <select class="form-control" id="cadastro-cidade"
                    [(ngModel)]="outputCliente.usuario.enderecos[0].cidade.idCidade" #idCidade="ngModel"
                    name="idCidade">
                    <option *ngFor="let cidade of responseCidadesByUf" [value]="cidade.idCidade">
                        {{cidade.dsCidade}}</option>
                </select>
            </div>
        </div>
        <hr>
    </form>

    <h6>Planos:</h6>

    <div class="modal-body">
        <div class="card-deck">
            <div class="card">
                <img class="img-card" src="assets/grupo1/img/BASIC.png" alt="Card image cap">
                <h5 class="card-title">{{responsePlanos[0].nmPlano}} </h5>
                <div class="card-body">
                    <p *ngFor="let servicos of responsePlanos[0].servicos" class="card-text">{{servicos.dsServico}}</p>
                </div>
                <div>
                    <h5 class="alinhamento">{{responsePlanos[0].vlPlano | currency : 'R$' }}</h5>
                </div>
                <div><button class="btn  btn-card" [id]="planos.plano1"
                        [disabled]="planos.plano1 == this.outputCliente.contrato.plano.idPlano"
                        (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
            </div>
            <div class="card">
                <img class="img-card" src="assets/grupo1/img/PLUS.png" alt="Card image cap">
                <h5 class="card-title">{{responsePlanos[1].nmPlano}}</h5>
                <div class="card-body">
                    <p *ngFor="let servicos of responsePlanos[1].servicos" class="card-text">{{servicos.dsServico}}</p>
                </div>
                <div>
                    <h5 class="alinhamento">{{responsePlanos[1].vlPlano | currency : 'R$' }}</h5>
                </div>
                <div><button type="button" class="btn btn-card" [id]="planos.plano2"
                        [disabled]="planos.plano2 == this.outputCliente.contrato.plano.idPlano"
                        (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
            </div>
            <div class="card">
                <img class="img-card" src="assets/grupo1/img/PREMIUM.png" alt="Card image cap">
                <h5 class="card-title">{{responsePlanos[2].nmPlano}}</h5>
                <div class="card-body">
                    <p *ngFor="let servicos of responsePlanos[2].servicos" class="card-text">{{servicos.dsServico}}</p>
                </div>
                <div>
                    <h5 class="alinhamento">{{responsePlanos[2].vlPlano | currency : 'R$' }}</h5>
                </div>
                <div><button type="button" class="btn btn-card" [id]="planos.plano3"
                        [disabled]="planos.plano3 == this.outputCliente.contrato.plano.idPlano"
                        (click)="selecaoPlano($event, modalCartaoCliente)">Selecionar</button></div>
            </div>
            <!-- (click)="open(modalCartaoCliente) -->
        </div>
    </div>

    <!-- MODAL -->
    <ng-template #modalCartaoCliente class="modal-dialog modal-lg" let-c="close" let-d="dismiss" let-modal>
        <div class="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form #formCartao="ngForm">
                        <div class="modal-header">
                            <h5 class="modal-title modal-basic-title">Dados do Cartão:</h5>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 cadastro-cartao">
                                <label for="cartao-numero">Número do Cartão:</label>
                                <input type="text" class="form-control" id="cartao-numero" name="nrCartao"
                                    [(ngModel)]="outputCliente.cartao.nrCartao" #nrCartao="ngModel" minlength="16"
                                    maxlength="16" required placeholder="0000 0000 0000 0000">
                                <div *ngIf="nrCartao.errors && (nrCartao.dirty || nrCartao.touched)"
                                    class="alert alert-light">
                                    <div [hidden]="!nrCartao.errors.required">
                                        Insira o número do cartão.
                                    </div>
                                    <div [hidden]="!nrCartao.errors.minlength">
                                        Número de cartão inválido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="cartao-nome">Nome impresso no Cartão:</label>
                                <input type="text" class="form-control" id="cartao-nome" name="nmNome"
                                    [(ngModel)]="outputCliente.cartao.nmNome" #nmNome="ngModel" minlength="5" maxlength="40" required
                                    placeholder="Nome impresso no Cartão">
                                <div *ngIf="nmNome.errors && (nmNome.dirty || nmNome.touched)"
                                    class="alert alert-light">
                                    <div [hidden]="!nmNome.errors.required">
                                        Campo nome é obrigatório.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cartao-vencimento">Data de vencimento:</label>
                                <div class="vencimento-cartao">
                                    <input type="month" class="form-control" id="dtValidade" placeholder="00/0000"
                                        [(ngModel)]="outputCliente.cartao.dtValidade" name="dtValidade" min="{{minDateCartao | date: 'yyyy-MM'}}"
                                        #dtValidade="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cartao-codigo-seguranca">Código de Segurança:</label>
                                <input type="password" class="form-control" id="cartao-codigo-seguranca"
                                    placeholder="CVV" [(ngModel)]="outputCliente.cartao.codSeguranca"
                                    name="codSeguranca" #codSeguranca="ngModel" minlength="3" required>
                            </div>
                        </div>

                        <button type="button" class="btn btns-cadastro btn-espaco" (click)="d('Cross click')"
                            [disabled]="formCartao.invalid">Confirmar</button>
                        <button type="button" class="btn btns-cadastro btn-espaco"
                            (click)="limparCartao()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="form-group botoes-cadastro">
        <button type="button" (click)="cadastrar()" class="btn btns-cadastro btn-espaco"
            [disabled]="formCadastro.invalid || formCadastro.untouched">
            <i *ngIf="mostraSpin" class="fa fa-spinner fa-spin"></i>
            Cadastrar</button>
        <button [routerLink]="['/']" class="btn btn-cancelar btn-espaco">Cancelar</button>
    </div>
</section>

<!-- {{outputCliente | json}} -->

<script src="../cliente/shared/cep.endereco.js"></script>
<app-footer></app-footer>