<app-header *ngIf="!ehLogado"></app-header>
<app-header-logado *ngIf="ehLogado"></app-header-logado>

<div class="container">
    <section>
        <div class="banner">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container d-flex justify-content-between form-inline mr-5">
                        <h3 class="mt-4 mb-3 ml-1">
                            Busca por: {{palavraPesquisada}}
                        </h3>
                        <button [routerLink]="['/pesquisar-receitas']" type="button"
                            class=" btn btn-success botao-voltar btn-sm">Nova busca</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-xs-12 mb-3" *ngFor="let receita of resultadoBuscaReceitas">
                <div class="row background ml-2 mr-2">
                    <div class="col-12 col-sm-6 col-md-6 col-xs-12 col-lg-6 col-xl-6">
                        <a [routerLink]="['/resultado-receita', receita.idReceita]"
                            (click)="abrirReceita(receita.idReceita)">
                            <img class="img-fluid mb-3 mt-3" src={{receita.endImagem}}>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xs-12  col-lg-6 col-xl-6">
                        <h4 class="opcao mt-4"><a
                                [routerLink]="['/resultado-receita', receita.idReceita]">{{receita.nomeReceita}}</a>
                        </h4>
                        <h6>Calorias: {{receita.qtCalorias}}</h6>
                        <h6>Rendimento: {{receita.qtRendimento}} porções</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>-->