.titulo_lembrete{
    color:#319A75;
    font-weight: bold;
    font-size: 0.8rem;
    padding-top:20px ;
}

.excluir {
    width: 100%;
    display: flex;
   justify-content:flex-end;  
   cursor: pointer;
} 

p {
    font-size: 0.8rem; 
}

a:hover{
    text-decoration:none;
 }

.item-lista{
    padding:0  10px 0 10px;
    font-size: 0.9rem;
    list-style: none;
    line-height: 20%;
    border-bottom: 1px solid #ccc;
}


.item-passado {
    opacity: 0.6;
    background-color: #dddddd;
}