<!-- trilha 3 -->
<div class="rowtrilha d-flex flex-wrap justify-content-center">
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">1</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha">Consulta</div>
                <div class="opcao">{{dsConsulta}}</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">2</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha ">Especialidade</div>
                <div class="opcao ">{{dsEspecialidade}}</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">3</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/calendario-agendamento'>
                <div class="trilha ">Data</div>
                <div class="opcao">{{data}}</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">4</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Especialista</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">5</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Horário</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">6</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Valor da Consulta</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Confirmação</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
</div>
<!--fim trilha 3 -->


<section class="container d-flex flex-column alig-items-center">

    

  

    <div class="spinner-grow spinner-grow-sm text-success">
        <i *ngIf="mostraSpin" class="fa fa-spinner fa-spin container col-12 text-center"></i>
      </div>

        <!-- filtro -->

    <div *ngIf="agendaVazia == false && mostraSpin == false" class="filtro">
        <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Filtro</a>
        <form class="form-inline">
            <label for="manha"><input type="checkbox" name="periodo" value="manha" id="manha">&nbsp;Manhã&nbsp;&nbsp;</label>
            <label for="tarde"><input type="checkbox" name="periodo" value="tarde" id="tarde">&nbsp;Tarde&nbsp;&nbsp;</label>
            <label for="noite"><input type="checkbox" name="periodo" value="noite" id="noite">&nbsp;Noite</label>
        </form>
      </nav>
    </div>

    <!-- fim filtro -->
 

<!-- inicio card agenda vazia -->
    <div *ngIf="agendaVazia" class="card d-flex justify-content-center">
        <div class="card-header text-center">
          AVISO
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Não existem consultas disponíveis para a data escolhida</h5>    
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a routerLink='/calendario-agendamento' class="btn btn-success">Voltar</a>
        </div>
      </div>
<!-- fim card agenda vazia -->
      
    

    <!-- <div *ngFor = "let agenda of arrayAgendasData" class="card-medico row"> -->
    <div *ngFor="let agenda of arrayAgendas">
        <div *ngIf="agenda.data == data" class="card-medico row">
            <div class="foto" id="medico1" src="agenda.medico.dsEndImg"></div>
            <div class="nome-horario">
                <div class="texto-consulta">
                    <h5>Dra {{agenda.medico.nome}} - {{agenda.medico.espMed.dsEspMed}}</h5>
                    <p><b>Consulta R$ {{agenda.medico.preco.vlConsulta}}</b></p>
                </div>
                <div class="horarios">
                    <a routerLink='/pagamento-particular'>
                        <button class="hora"
                                (click)="salvarAgendaLS(agenda)">{{agenda.periodo.horaInicial}}</button></a>
                        <!-- <button class="hora">15:00</button>
                            <button class="hora">16:00</button>
                            <button class="hora">17:00</button>
                            <button class="hora">18:00</button> -->
                   
                </div>
            </div>
        </div>
    </div>
   

</section>

<app-footer></app-footer>