<!-- trilha 3 -->
<div class="rowtrilha d-flex flex-wrap justify-content-center">
    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">1</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha">Consulta</div>
                <div class="opcao">{{dsConsulta}}</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">2</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/agendamento-consultas'>
                <div class="trilha ">Especialidade</div>
                <div class="opcao ">{{dsEspecialidade}}</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinha-cheia">3</div>
            <div class="linha linha-ativa"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <a routerLink='/calendario-agendamento'>
                <div class="trilha ">Data</div>
                <div class="opcao">23/10/2017</div>
            </a>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">4</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Especialista</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">5</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Horário</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia">6</div>
            <div class="linha linha-futura"></div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Pagamento</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>

    <div class="cada-item d-flex flex-column">
        <div class="bola-linha d-flex">
            <div class="bolinha bolinhaVazia" id="bolinha7">7</div>
        </div>
        <div class="texto-trilha d-flex flex-column">
            <div class="trilha">Confirmação</div>
            <div class="opcao-vazia">vazio</div>
        </div>
    </div>
</div>
<!--fim trilha 3 -->


<section class="container d-flex flex-column alig-items-center">

    <!-- filtro -->
    <!-- <div class="filtro">
        <div class="periodo form-group">
            <label for="manha"><input type="checkbox" name="periodo" value="manha" id="manha"> Manhã</label>
            <label for="tarde"><input type="checkbox" name="periodo" value="tarde" id="tarde"> Tarde</label>
            <label for="noite"><input type="checkbox" name="periodo" value="noite" id="noite"> Noite</label>
        </div>
    </div> -->

    <div class="filtro">
        <!-- <form [formGroup]="form" (ngSubmit)="submit()">
            <label formArrayName="periodo" *ngFor="let periodo of periodoFormArray.controls; let i = index">
              <input type="checkbox" [formControlName]="i">
              {{periodoData[i].name}}
            </label> -->
            <!-- <div *ngIf="!form.valid">Selecione um periodo</div> -->
            <!-- <button [disabled]="!form.valid">filtrar</button>
          </form> -->
    </div>
    <!-- fim filtro -->

  
    <div *ngFor = "let agenda of arrayAgendas" class="card-medico row">
        <div class="foto" id="medico1"></div>
        <div class="nome-horario">
            <div class="texto-consulta">
                <h5>Dra {{agenda.medico.nome}} - {{agenda.medico.espMed.dsEspMed}}</h5>
                <p><b>Consulta R$ {{agenda.medico.preco.vlConsulta}}</b></p>
            </div>
            <div class="horarios">
                <a routerLink='/pagamento-plano'>
                <a href="#"><button class="hora" (click)="criarAgPaciente(agenda.idAgenda)">{{agenda.periodo.horaInicial}}</button></a>
                <!-- <button class="hora">15:00</button>
                <button class="hora">16:00</button>
                <button class="hora">17:00</button>
                <button class="hora">18:00</button> -->
                </a>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>