<body class="container-fluid">

    <!-- <div class="container">
            <div class="row d-flex justify-content-between">
                <div>
                    <img src="/img/logo-rd.png" width="200px">
                </div>
                <div class="align-self-center">
                    <img src="/img/baseline_exit_to_app_black_18dp.png">
                </div>
            </div>
        </div> -->
    <div class="row">
        <div class="container-fluid container-background">
            <div class="container">
                <div class="container container-box">
                    <div class="box-central col-md-4">
                        <h3 class="text-center">Login do Paciente</h3>
                        <form id="id-form" name="formulario" action="#">
                            <div class="form-group mt-4">
                                <label for="login-email-med">E-mail</label>
                                <input type="text" class="form-control" id="login-email-med"
                                    placeholder="Digite seu e-mail" required>
                            </div>

                            <div class="form-group">
                                <label for="login-email-med">Senha</label>
                                <input type="text" class="form-control" id="login-email-med"
                                    placeholder="Digite sua senha" required>
                            </div>
                            <button type="button" class="btn col-md-12 btn-verde mt-4"><a
                                routerLink="/area-cliente">Entrar</a></button>
                        </form>
                        <p class="text-center mb-3 mt-2 nav-item"><a class="nav-link" href="#" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Esqueceu sua senha?</a></p>
                        <div class="box-line my-2"></div>
                        <p class="text-center mt-3">Ainda não possui cadastro?</p>
                        <button type="button" class="btn btn-verde"><a
                            [routerLink]="['/cadastro-cliente']">Cadastrar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <!-- <h5 class="modal-title">Digite o e-mail cadastrado:</h5> -->

                        <div class="form-group col-md-12 esqueci-senha">
                            <label for="cartao-numero">Digite o e-mail cadastrado:</label>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div>
                                <input type="text" class="form-control" id="email-rec-senha"
                                    placeholder="digite o seu e-mail">
                                <button class="btn btn-verde"><a
                                    routerLink="/area-cliente">Enviar</a></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>