/* You can add global styles to this file, and also import other style files */
.botoes-cadastro{
    float: right;   
}

.btn-espaco{
    text-decoration: none;
    margin-right: 20px;
}

.mensagem-login {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #1f5e48;
}