
<div class="container">

    <div class="banner"></div>
    
    <!-- Confirmação de Agendamento -->
    <section class="confAgendamento">
        <!-- Imagem banner -->
        

        <div class="containerConfirmacao col-12">
            <h2>Confirmação de agendamento</h2>
            <br>
            <p>Agendamento concluído com sucesso. Confira os detalhes abaixo:</p>

            <div class="card col-12" *ngFor="let ag of agendamentos">
              <div class="card-body">
                <h5 class="card-title">{{ag.servico.nome}}</h5>
                <h6 class="card-text">Horário: {{ag.dtDataHora}}</h6>
                <h6 class="card-text">Local: {{ag.loja.enderecos[0].dsEndereco}}, {{ag.loja.enderecos[0].dsBairro}} </h6>
              </div>
            </div>

            
            <div class="row">
                <button type="button" class="btn btn-outline-primary">Whatsapp</button>
                <button type="button" class="btn btn-outline-primary">E-mail</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-secondary btn-whats" [routerLink]="['/historico-agservico']">Ver Histórico</button>
            </div>
        </div>
    </section>
        
</div>
