
<div class="container">
    
    <!-- Confirmação de Agendamento -->
    <section class="confAgendamento">
        <!-- Imagem banner -->
        <div class="banner"></div>

        <div class="containerConfirmacao col-12">
            <h2>Confirmação de agendamento</h2>
            <br>
            <p>Agendamento concluído com sucesso. Confira os detalhes abaixo:</p>
            <div class="card col-12">
                <div class="card-body">
                  <h5 class="card-title">Aplicação de medicamento</h5>
                  <h6 class="card-text">Horário: 8:15 a.m.</h6>
                  <h6 class="card-text">Data: Sexta-feira, 18 de dezembro de 2020</h6>
                  <h6 class="card-text">Local: Avenida Mar. Floriano Peixoto, 12 - Gonzaga</h6>
                </div>
              </div>
              <!-- <div class="row">
                <button type="button" class="btn btn-secondary btn-whats">Whatsapp</button>
                <button type="button" class="btn btn-secondary btn-email">E-mail</button>
              </div> -->
        </div>
    </section>
        
</div>
